# WEB SCRAPING ‚Äì ASSIGNMENT 4

### 1. Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos. You need to find following details:
- A) Rank
- B) Name
- C) Artist
- D) Upload date
- E) Views

In [1]:
# Importing Libraries
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup

# Importing selenium webdriver 
from selenium import webdriver
from selenium.webdriver.common.by import By

# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException, ElementNotInteractableException

#Importing requests
import requests

# importing regex
import re

import warnings
warnings.filterwarnings('ignore')
import time

In [9]:
# let's first connect to the web driver
driver = webdriver.Chrome(r"C:\Users\Sunny\Downloads\chromedriver_win32\chromedriver.exe")
time.sleep(3)


# Opening the homepage
url = "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
driver.get(url)
time.sleep(2)

In [10]:
#create empty lists
Rank = []
Name = []
Artist = []
UploadDate = []
Views = []

In [11]:
# Scraping Rank of the videos
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[1]"):
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append("_")
    
    
#scrapping name
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[2]"):
        Name.append(i.text)
except NoSuchElementException:
    Name.append("_")
    
    
#scrapping Artist
try:
    for i in driver.find_elements(By.XPATH,'//*[@id="mw-content-text"]/div[1]/table[2]/tbody/tr/td[3]'):
        Artist.append(i.text)
except NoSuchElementException:
    Artist.append("_")
    
    
#Scrapping Date
try:
    for i in driver.find_elements(By.XPATH,' //table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[5]'):
        UploadDate.append(i.text)
except NoSuchElementException:
    UploadDate.append('-')
# Scraping Views of videos


try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[4]"):
        Views.append(i.text)
except NoSuchElementException:
    Views.append("_")

In [12]:
print(len(Rank),len(Name),len(Artist),len(UploadDate),len(Views))

30 30 30 30 30

In [13]:
# Creating DataFrame from scraped data
wikipedia = pd.DataFrame({})
wikipedia['Rank']=Rank
wikipedia['Name']=Name
wikipedia['Artist']=Artist
wikipedia['Upload Date']=UploadDate
wikipedia['Views']=Views

In [14]:
wikipedia

,Rank,Name,Artist,Upload Date,Views
0,1.,"""Baby Shark Dance""[3]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",11.24
1,2.,"""Despacito""[6]",Luis Fonsi,"January 12, 2017",7.96
2,3.,"""Johny Johny Yes Papa""[12]",LooLoo Kids,"October 8, 2016",6.44
3,4.,"""Shape of You""[13]",Ed Sheeran,"January 30, 2017",5.80
4,5.,"""See You Again""[15]",Wiz Khalifa,"April 6, 2015",5.62
5,6.,"""Bath Song""[20]",Cocomelon ‚Äì Nursery Rhymes,"May 2, 2018",5.59
6,7.,"""Phonics Song with Two Words""[21]",ChuChu TV,"March 6, 2014",4.85
7,8.,"""Uptown Funk""[22]",Mark Ronson,"November 19, 2014",4.68
8,9.,"""Learning Colors ‚Äì Colorful Eggs on a Farm""[23]",Miroshka TV,"February 27, 2018",4.61
9,10.,"""Gangnam Style""[24]",Psy,"July 15, 2012",4.53
10,11.,"""Masha and the Bear ‚Äì Recipe for Disaster""[29]",Get Movies,"January 31, 2012",4.51
11,12.,"""Wheels on the Bus""[30]",Cocomelon ‚Äì Nursery Rhymes,"May 24, 2018",4.31
12,13.,"""Dame Tu Cosita""[31]",El Chombo,"April 5, 2018",4.05
13,14.,"""Sugar""[32]",Maroon 5,"January 14, 2015",3.75
14,15.,"""Roar""[33]",Katy Perry,"September 5, 2013",3.64
15,16.,"""Counting Stars""[34]",OneRepublic,"May 31, 2013",3.63
16,17.,"""Sorry""[35]",Justin Bieber,"October 22, 2015",3.58
17,18.,"""Axel F""[36]",Crazy Frog,"June 16, 2009",3.49
18,18.,"""Thinking Out Loud""[37]",Ed Sheeran,"October 7, 2014",3.49
19,20.,"""Baa Baa Black Sheep""[38]",Cocomelon ‚Äì Nursery Rhymes,"June 25, 2018",3.35
20,21.,"""Dark Horse""[39]",Katy Perry,"February 20, 2014",3.34
21,22.,"""Faded""[40]",Alan Walker,"December 3, 2015",3.33
22,23.,"""Girls Like You""[41]",Maroon 5,"May 31, 2018",3.33
23,24.,"""Let Her Go""[42]",Passenger,"July 25, 2012",3.29
24,25.,"""Bailando""[43]",Enrique Iglesias,"April 11, 2014",3.26
25,26.,"""Lean On""[44]",Major Lazer,"March 22, 2015",3.25
26,27.,"""Perfect""[45]",Ed Sheeran,"November 9, 2017",3.24
27,28.,"""Waka Waka (This Time for Africa)""[46]",Shakira,"June 4, 2010",3.23
28,29.,"""Shake It Off""[47]",Taylor Swift,"August 18, 2014",3.20
29,30.,"""Humpty the train on a fruits ride""[48]",Kiddiestv Hindi ‚Äì Nursery Rhymes & Kids Songs,"January 26, 2018",3.14

In [15]:
driver.close()

### 2. Scrape the details team India‚Äôs international fixtures from bcci.tv.
Url = https://www.bcci.tv/. You need to find following details:
- A) Match title (I.e. 1st ODI)
- B) Series
- C) Place
- D) Date
- E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [16]:
# let's first connect to the web driver
driver = webdriver.Chrome(r"C:\Users\Sunny\Downloads\chromedriver_win32\chromedriver.exe")
time.sleep(3)


# Opening the homepage
url = "https://www.bcci.tv/"
driver.get(url)
time.sleep(2)

In [17]:
#clicking on International tab
International = driver.find_element(By.XPATH,'/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a') # click button
International.click()

In [18]:
#Creating Empty List
Name=[]
Series=[]
Place=[]
Date=[]
Time=[]

#Scrapping Name
try:
    for i in driver.find_elements(By.XPATH,'//span[@class="matchOrderText ng-binding ng-scope"]'):
        Name.append(i.text.replace('-',""))
except NoSuchElementException:
    Name.append('-')
    
#Scrapping Series
try:
    
    for i in driver.find_elements(By.XPATH,'//span[@class="ng-binding"]'):
        Series.append(i.text)
except NoSuchElementException:
    Series.append('-')
    
#scrapping Place
try:
    for i in driver.find_elements(By.XPATH,'//span[@class="ng-binding ng-scope"]'):
        Place.append(i.text)
except NoSuchElementException:
    Place.append('-')
    
#Scrapping Date
try:
    for i in driver.find_elements(By.XPATH,'//h5[@class="ng-binding"]'):
        Date.append(i.text)
except NoSuchElementException:
    Date.append('-')
    
#Scrapping Time
try:
    for i in driver.find_elements(By.XPATH,'//h5[@class="text-right ng-binding"]'):
        Time.append(i.text.replace('IST',""))
except NoSuchElementException:
    Time.append('-')

In [19]:
# Create Dataframe

Fixtures=pd.DataFrame({})
Fixtures['Title']=Series
Fixtures['Name']=Name
Fixtures['Place']=Place
Fixtures['Date']=Date
Fixtures['Time']=Time
Fixtures

,Title,Name,Place,Date,Time
0,INDIA WOMEN TOUR OF ENGLAND T20 SERIES 2022,1st T20I,"Riverside Ground,",10 SEP 2022,11:30 PM
1,INDIA WOMEN TOUR OF ENGLAND T20 SERIES 2022,2nd T20I,"County Ground,",13 SEP 2022,10:30 PM
2,INDIA WOMEN TOUR OF ENGLAND T20 SERIES 2022,3rd T20I,"County Ground,",15 SEP 2022,11:00 PM
3,INDIA WOMEN TOUR OF ENGLAND ODI SERIES 2022,1st ODI,"County Ground,",18 SEP 2022,3:30 PM
4,AUSTRALIA TOUR OF INDIA T20 SERIES 2022,1st T20I,"Punjab Cricket Association IS Bindra Stadium,",20 SEP 2022,7:30 PM
5,INDIA WOMEN TOUR OF ENGLAND ODI SERIES 2022,2nd ODI,"St Lawrence Ground,",21 SEP 2022,5:30 PM
6,AUSTRALIA TOUR OF INDIA T20 SERIES 2022,2nd T20I,"Vidarbha Cricket Association Stadium,",23 SEP 2022,7:30 PM
7,INDIA WOMEN TOUR OF ENGLAND ODI SERIES 2022,3rd ODI,"Lord's Cricket Ground,",24 SEP 2022,3:30 PM

In [20]:
driver.close()

### 3. Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/: You need to find following details:
- A) Name
- B) Description

##### Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [25]:
# let's first connect to the web driver
driver = webdriver.Chrome(r"C:\Users\Sunny\Downloads\chromedriver_win32\chromedriver.exe")
time.sleep(3)


# Getting the webpage of mentioned url 
url = "https://www.guru99.com/"
driver.get(url)

In [26]:
# Click Selenium Button
Selenium = driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div/main/div/article/div/div[1]/div[2]/div[1]/div/ul[1]/li[3]/a') # click button
try:
    Selenium.click()
except ElementNotInteractableException:#handling element not clickable exception
    driver.get(Selenium.get_attribute('href'))
time.sleep(3)

In [29]:
# Click selenium exception handling  Button
exception_handling = driver.find_element(By.XPATH,"/html/body/div[1]/div/div/div/main/div/article/div/div/table[5]/tbody/tr[34]/td[2]")
try:
    exception_handling.click()
except ElementNotInteractableException:  #if the above code doesn't work/is not clickable then, the below code will handle it
    driver.get(exception_handling.get_attribute('href'))

In [30]:
name=[]
desc=[]
#Scrapping Name
for i in driver.find_elements(By.XPATH,'//table[@class="table table-striped"]/tbody/tr/td[1]'):
    name.append(i.text)
for i in driver.find_elements(By.XPATH,'//table[@class="table table-striped"]/tbody/tr/td[2]'):
    desc.append(i.text)

In [31]:
print(len(name),len(desc))

0 0

In [32]:
Selenium_Exception=pd.DataFrame({})
Selenium_Exception['Exception name']=name
Selenium_Exception['Description']=desc
Selenium_Exception

Empty DataFrame
Columns: [Exception name, Description]
Index: []

In [33]:
driver.close()

### 4. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/: You have to find following details:
- A) Rank
- B) State
- C) GSDP(18-19)
- D) GSDP(17-18)
- E) Share(2017)
- F) GDP($ billion)
##### Note: - From statisticstimes home page you have to reach to economy page through code.

In [34]:
# let's first connect to the web driver
driver = webdriver.Chrome(r"C:\Users\Sunny\Downloads\chromedriver_win32\chromedriver.exe")
time.sleep(3)


# Getting the webpage of mentioned url 
url = "http://statisticstimes.com/"
driver.get(url)

In [35]:
driver.find_element(By.XPATH,'/html/body/div[1]/div/a').click()

In [36]:
#Clicking on Economy button
driver.find_element(By.XPATH,"//div[@class='navbar']/div[2]/button").click()

In [37]:
#Clicking on India
driver.find_element(By.XPATH,"//div[@class='dropdown-content']/a[3]").click()

In [38]:
# Clicking on GDP of Indian Economy
GDP = driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a').click()
time.sleep(3)

In [39]:
# Creating empty list
Rank = []
State = []
GSDP2 = []
Share = []
GDPbillion = []
# Scraping Rank
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[1]"):
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append("_")
# Scraping State
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[2]"):
        State.append(i.text)
except NoSuchElementException:
    State.append("_")
# Scraping GSDP at current price (18-19)
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[4]"):
        GSDP2.append(i.text)
except NoSuchElementException:
    GSDP2.append("_")
# Scraping Share (18-19)
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[5]"):
        Share.append(i.text)
except NoSuchElementException:
    Share.append("_")
# Scraping GDP $ billion
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[6]"):
        GDPbillion.append(i.text)
except NoSuchElementException:
    GDPbillion.append("_")

In [40]:
INDIA=pd.DataFrame()
INDIA['RANK']=Rank
INDIA['STATE']=State
INDIA['GSDP2']=GSDP2
INDIA['SHARE']=Share
INDIA['GDPbillion']=GDPbillion
INDIA

   RANK                      STATE      GSDP2   SHARE GDPbillion
0     1                Maharashtra  2,632,792  13.94%    399.921
1     2                 Tamil Nadu  1,630,208   8.63%    247.629
2     3              Uttar Pradesh  1,584,764   8.39%    240.726
3     4                    Gujarat  1,502,899   7.96%    228.290
4     5                  Karnataka  1,493,127   7.91%    226.806
..  ...                        ...        ...     ...        ...
61   29                     Sikkim     25,141   0.15%     17,060
62   30                   Nagaland     24,534   0.15%          -
63   31          Arunachal Pradesh     22,488   0.13%          -
64   32                    Mizoram     20,947   0.13%     17,797
65   33  Andaman & Nicobar Islands          -       -          -

[66 rows x 5 columns]

In [41]:
driver.close()

### 5. Scrape the details of trending repositories on Github.com.
Url = https://github.com/ You have to find the following details:
- A) Repository title
- B) Repository description
- C) Contributors count
- D) Language used
##### Note: - From the home page you have to click on the trending option from Explore menu through code.

In [49]:
# let's first connect to the web driver
driver = webdriver.Chrome(r"C:\Users\Sunny\Downloads\chromedriver_win32\chromedriver.exe")
time.sleep(3)


# Getting the webpage of mentioned url 
url = " https://github.com/"
driver.get(url)

In [51]:
# Click on explore

explore = driver.find_element(By.XPATH,"/html/body/div[1]/header/div[3]/nav/a[5]")
try:
    explore.click()
    time.sleep(5)
except ElementNotInteractableException:
    driver.get(explore.get_attribute('href'))

In [52]:
# Click on Trending

trending = driver.find_element(By.XPATH,"/html/body/div[5]/main/div[1]/nav/div/a[3]")
try:
    driver.get(trending.get_attribute('href'))
except ElementNotInteractableException:
    driver.get(trending.get_attribute('href'))

In [53]:
#Creating empty list:
URLs = []
repository_title = []
Description = []
Contributors = []
Language = []
lang = []

#Fetching urls for each repository
repository = driver.find_elements(By.XPATH,"//h1[@class = 'h3 lh-condensed']//a")
for i in repository:
    URLs.append(i.get_attribute("href"))

In [54]:
# Scraping Repository Title data
title = driver.find_elements(By.XPATH,"//h1[@class = 'h3 lh-condensed']")
for i in title:
    repository_title.append(i.text)

In [55]:
# Scraping data from all repository page
for i in URLs:
    driver.get(i)
    time.sleep(2)
    
# Scraping Repository Description data
    try:
        desc = driver.find_element(By.XPATH,"//p[@class='f4 my-3']")
        Description.append(desc.text)
    except NoSuchElementException:
        Description.append('-')
        
# Scraping Contributors Count data
    try:
        contributor = driver.find_element(By.XPATH,"//*[contains(text(),'    Contributors ')]")
        Contributors.append(contributor.text.replace('Contributors',''))
    except NoSuchElementException:
        Contributors.append('-')
        
        
# Scraping Languages used data
    lang=[]
    try:
        for i in driver.find_elements(By.XPATH,'//span[@class="color-fg-default text-bold mr-1"]'):
            lang.append(i.text)
        Language.append(lang)
    except NoSuchElementException:
        lang.append('-')

In [56]:
print(len(repository_title),len(Description),len(Contributors),len(Language))

25 25 25 25

In [57]:
#Data Frame

Github=pd.DataFrame({})
Github['Repository title'] = repository_title
Github['Repository description'] = Description
Github['Contributors count'] = Contributors
Github['Language used'] = Language
Github

,Repository title,Repository description,Contributors count,Language used
0,somebasj / ParallelsDesktopCrack,Parallels Desktop for mac Crack,2,[Shell]
1,AykutSarac / jsoncrack.com,üîÆ Seamlessly visualize your JSON data instantl...,13,"[TypeScript, Other]"
2,microsoft / PowerToys,Windows system utilities to maximize productivity,304,"[C#, C++, C, PowerShell, HTML, HLSL]"
3,AUTOMATIC1111 / stable-diffusion-webui,Stable Diffusion web UI,20,"[Python, JavaScript, Batchfile, CSS]"
4,apache / incubator-streampark,"StreamPark, Make stream processing easier! eas...",66,"[Java, Scala, Vue, JavaScript, Perl, Shell, Ot..."
5,TheAlgorithms / Python,All Algorithms implemented in Python,829,[Python]
6,OpenRadioss / OpenRadioss,"OpenRadioss is a powerful, industry-proven fin...",23,"[Fortran, C, C++, Perl, Forth, HTML, Other]"
7,charlax / professional-programming,A collection of full-stack resources for progr...,25,"[Python, HTML]"
8,akka / akka,"Build highly concurrent, distributed, and resi...",785,"[Scala, Java, Shell, JavaScript, Makefile, Perl]"
9,taichi-dev / taichi,Productive & portable high-performance program...,193,"[C++, Python, CMake, C, Cuda, Shell, Other]"
10,mtdvio / every-programmer-should-know,A collection of (mostly) technical things ever...,70,[]
11,30-seconds / 30-seconds-of-code,Short JavaScript code snippets for all your de...,264,[JavaScript]
12,100devs / binary-upload-boom,The 100Devs Social Network,-,"[JavaScript, EJS, Procfile]"
13,hiroi-sora / Umi-OCR,OCRÊâπÈáèÂõæÁâáËΩ¨ÊñáÂ≠óËØÜÂà´ËΩØ‰ª∂ÔºåÂ∏¶ÁïåÈù¢ÔºåÁ¶ªÁ∫øËøêË°å„ÄÇÂèØÊéíÈô§ÂõæÁâá‰∏≠Ê∞¥Âç∞Âå∫ÂüüÁöÑÂπ≤Êâ∞ÔºåÊèêÂèñÂπ≤ÂáÄÁöÑÊñáÊú¨„ÄÇ...,-,[Python]
14,sd-webui / stable-diffusion-webui,Stable Diffusion web UI,48,"[Python, Other]"
15,practical-tutorials / project-based-learning,Curated list of project-based tutorials,100,[]
16,ruanyf / weekly,ÁßëÊäÄÁà±Â•ΩËÄÖÂë®ÂàäÔºåÊØèÂë®‰∫îÂèëÂ∏É,31,[]
17,inkasadev / osib-frontend-pt,Caminho para uma educa√ß√£o autodidata gratuita ...,-,[]
18,picotorrent / picotorrent,"A tiny, hackable BitTorrent client.",106,"[C++, C#, CMake, Other]"
19,XavierXiao / Dreambooth-Stable-Diffusion,Implementation of Dreambooth (https://arxiv.or...,-,"[Jupyter Notebook, Python, Shell]"
20,actions / runner-images,GitHub Actions runner images,224,"[PowerShell, Shell, HCL, Ruby, Python, Swift, ..."
21,huggingface / transformers,ü§ó Transformers: State-of-the-art Machine Learn...,"1,392","[Python, Cuda, Shell, Dockerfile, C++, C]"
22,benphelps / homepage,A highly customizable homepage (or startpage /...,14,"[JavaScript, CSS, Dockerfile]"
23,openai / CLIP,Contrastive Language-Image Pretraining,18,"[Jupyter Notebook, Python]"
24,vinta / awesome-python,"A curated list of awesome Python frameworks, l...",394,"[Python, Makefile]"

In [58]:
driver.close()

### 6. Scrape the details of top 100 songs on billiboard.com.
Url = https:/www.billboard.com/ You have to find the following details:
- A) Song name
- B) Artist name
- C) Last week rank
- D) Peak rank
- E) Weeks on board
##### Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [63]:
# let's first connect to the web driver
driver = webdriver.Chrome(r"C:\Users\Sunny\Downloads\chromedriver_win32\chromedriver.exe")
time.sleep(3)


# Getting the webpage of mentioned url 
url = "https:/www.billboard.com/"
driver.get(url)

In [64]:
#Clicking on charts
charts=driver.find_element(By.XPATH,'//*[@id="main-wrapper"]/header/div[2]/div/nav/ul/li[1]/a').click()

In [65]:
# Creating empty lists
Song_Name = []
Artist_Name = []
Last_week_rank = []
Peak_rank = []
Weeks_on_board = []

In [66]:
# Scraping name
for i in driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]'):
    Song_Name.append(i.text)
len(Song_Name)

100

In [67]:
#Scrappin Artist name 1 st one
Artist_Name.append(driver.find_element(By.XPATH,"//span[@class='c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only u-font-size-20@tablet']").text)

#Remainig Artist Name
artistTag=driver.find_elements(By.XPATH,"//span[@class='c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only']")
Artist_Name.extend([i.text for i in artistTag])

#Scapping Rank
rank=[]
rankTag=driver.find_elements(By.XPATH,"//span[@class='c-label  a-font-primary-bold-l a-font-primary-m@mobile-max u-font-weight-normal@mobile-max lrv-u-padding-tb-050@mobile-max u-font-size-32@tablet']")
rank.extend([i.text for i in rankTag[:3]])

#Remaining RAnk
Rank=[]
RankTag=driver.find_elements(By.XPATH,"//span[@class='c-label  a-font-primary-m lrv-u-padding-tb-050@mobile-max']")
Rank.extend([i.text for i in RankTag])

In [68]:
# removing ''
for i in Rank:
    if i=='':
        Rank.remove(i)

In [69]:
# slicing as per requirement
lastweekpos=Rank[0::3]
lastweekpos.insert(0,rank[0])
peakPos=Rank[1::3]
peakPos.insert(0,rank[1])
weeksonBoard=Rank[2::3]
weeksonBoard.insert(0,rank[2])

In [70]:
#check length of all
len(Song_Name),len(Artist_Name),len(lastweekpos),len(peakPos),len(weeksonBoard)

(100, 100, 133, 133, 133)

In [71]:
# Create Dataframe
df=pd.DataFrame()
df['SongName']=Song_Name[0:100]
df['ArtistName']=Artist_Name
df['Last Week']=lastweekpos[0:100]
df["PeekPosition"]=peakPos[0:100]
df['Weeks On board']=weeksonBoard[0:100]
df

,SongName,ArtistName,Last Week,PeekPosition,Weeks On board
0,As It Was\nHarry Styles\n1\n1\n22,Harry Styles,1,1,22
1,Bad Habit\nSteve Lacy\n3\n2\n9,Steve Lacy,3,2,9
2,About Damn Time\nLizzo\n2\n1\n20,Lizzo,2,1,20
3,Running Up That Hill (A Deal With God)\nKate B...,Kate Bush,4,3,34
4,Sunroof\nNicky Youre & dazy\n6\n5\n14,Nicky Youre & dazy,6,5,14
...,...,...,...,...,...
95,Thought You Should Know\nMorgan Wallen\n81\n12...,Morgan Wallen,66,65,11
96,2 Be Loved (Am I Ready)\nLizzo\n95\n84\n3,Lizzo,,,
97,Wait In The Truck\nHARDY Featuring Lainey Wils...,HARDY Featuring Lainey Wilson,68,18,17
98,La Corriente\nBad Bunny & Tony Dize\n87\n32\n14,Bad Bunny & Tony Dize,,,
99,"Bzrp Music Sessions, Vol. 52\nBizarrap & Queve...",Bizarrap & Quevedo,73,63,22

In [72]:
driver.close()

### 7. Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/ You have to find the following details:
- A) Name
- B) Designation
- C) Company
- D) Skills they hire for
- E) Location
##### Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code

In [87]:
# let's first connect to the web driver
driver = webdriver.Chrome(r"C:\Users\Sunny\Downloads\chromedriver_win32\chromedriver.exe")
time.sleep(3)


# Getting the webpage of mentioned url 
url = "https://www.naukri.com/"
driver.get(url)

In [88]:
#Fetching urls to navigate recruiter page
recruiter = driver.find_element(By.XPATH,'//a[@title="Search Jobs"]')
page_url = recruiter.get_attribute("href")

driver.get(page_url)
time.sleep(3)

In [89]:
# Fetching search button, sending keys and clicking on it
search = driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[1]/div/div/div/input") 
search.send_keys("Data science ")           
btn = driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[6]').click()     
time.sleep(3)

In [90]:
#Creating empty lists
Name = []
Designation = []
Company = []
Skills = []
Location = []

In [95]:
#Scraping data of Names
for i in driver.find_elements(By.XPATH,"//div[@class='job-description fs12 grey-text']"):
    Name.append(i.text)
time.sleep(3)

#Scraping data of Designation
for i in driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']"):
    Designation.append(i.text)
    
#Scraping data of company name
for i in driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']"):
    Company.append(i.text)

#Scraping data of locations
for i in driver.find_elements(By.XPATH,"//span[@class='ellipsis fleft']"):
    Location.append(i.text)
time.sleep(3)

#Scraping data of skills
for i in driver.find_elements(By.XPATH,"//ul[@class='tags has-description']"):
    Skills.append(i.text)

In [96]:
print(len(Name),len(Designation),len(Company),len(Location),len(Skills))

38 38 38 34 38

In [97]:
# Creating dataframe for scraped data
Naukri=pd.DataFrame({})
Naukri['Name'] = Name[0:34]
Naukri['Designation'] = Designation[0:34]
Naukri['Company'] = Company[0:34]
Naukri['Location'] = Location[0:34]
Naukri['Skills']=Skills[0:34]
Naukri

,Name,Designation,Company,Location,Skills
0,Experience in designing and developing solutio...,Senior Manager - Data Science,Xpressbees (BusyBees Logistics Solutions Pvt. ...,Data Science & Analytics,Data Science\nIT Skills\nPython\nMachine Learn...
1,Bachelors or masters degree or PhD in Computer...,Data Science Consultant,ZS Associates India Pvt Ltd,Engineering - Software & QA,Data Science\nLife Sciences\nHealthcare Domain...
2,"Work with OMICs, image, med device and RWE dat...",Assistant Manager - Data Science,CitiusTech,"Customer Success, Service & Operations",Data Science\nNLP\nMachine Learning\nDeep Lear...
3,The Data Science Lead will use both management...,Lead - Data Science,United Phosphorus Limited,Other,Data Science\nadvanced analytics\ndata analysi...
4,The Data Science Lead will use both management...,Lead - Data Science,United Phosphorus Limited,WFH during Covid,Data Science\nadvanced analytics\ndigital anal...
5,The 1-months online internship program is offe...,Internship Coursework Program - Machine Learni...,Gilbert Research Center,Remote,Pandas\nProgramming\nC Programming Language\nN...
6,The Ciena Services Business Intelligence & Dat...,Analyst Business Intelligence & Data Science,Ciena,Bangalore/Bengaluru,Data Science\nBusiness Intelligence\ndata anal...
7,Roles & ResponsibilitiesSolve some of the most...,Senior Manager- Data Science,Tredence,Delhi / NCR,python\ndata science\nUnsupervised Learning\nm...
8,Knowledge and experience analyzing Medical cla...,Director Data Science,Optum,Gurgaon/Gurugram,Data Science\nNLP\nBusiness Analytics\ndata st...
9,"Required Skills: Artificial Intelligence, Deep...",Data Science Analytics Manager,Accenture,0-3 Lakhs,Project management\nConsulting\nMachine learni...
10,"Required Skills: Artificial Intelligence, Deep...",Data Science Analytics Manager,Accenture,3-6 Lakhs,Change management\nSAP\nConsulting\nTroublesho...
11,Deploy state of the art in-silico tools in sta...,"Senior Scientist, Data Science & Digital",Novartis Healthcare,6-10 Lakhs,Automation\nData analysis\nSimulation\nAnalyti...
12,Skill required: Data Science - Machine Learnin...,Senior Analyst-Data Science,Accenture,10-15 Lakhs,Publishing\nArchitecture\nConsulting\nMachine ...
13,Bachelors /Masters /PhD degree in a quantitati...,Manager - Data Science,Tredence,Foreign MNC,python\nnlp\ndata science\nmachine learning\nI...
14,Must have strong capabilities in problem solvi...,Senior Analyst - Data Science - IIT/NIT/IIM/XL...,HuQuo,Corporate,Data Science\nPython\nTableau\ndata analysis\n...
15,Atleast 3+ years of experience in the field of...,Looking For Marketing Analytics / Campaign Ana...,Evalueserve,Indian MNC,machine learning\nab tesing\nAttribution Model...
16,Atleast 10+ years of experience in the field o...,Looking For Group Manager-Data Science(CPG) Fo...,Evalueserve,Startup,python\ndata science\nmachine learning\nBayesi...
17,"We are looking for exceptional individuals, wh...",Looking For Group Manager-Data Science( Retail...,Evalueserve,Business Intelligence & Analytics,python\ndata science\niri\nCART/CHAID\ndata an...
18,Atleast 3+ years of experience in the field of...,Looking For Campaign Analytics (Data Science) ...,Evalueserve,Data Science & Machine Learning,Campaign Designing\nMedia Mix Modelling\nmachi...
19,Experience in designing and developing solutio...,Senior Manager - Data Science,Xpressbees (BusyBees Logistics Solutions Pvt. ...,Data Science & Analytics - Other,Data Science\nIT Skills\nPython\nMachine Learn...
20,Bachelors or masters degree or PhD in Computer...,Data Science Consultant,ZS Associates India Pvt Ltd,Any Postgraduate,Data Science\nLife Sciences\nHealthcare Domain...
21,"Work with OMICs, image, med device and RWE dat...",Assistant Manager - Data Science,CitiusTech,MBA/PGDM,Data Science\nNLP\nMachine Learning\nDeep Lear...
22,The Data Science Lead will use both management...,Lead - Data Science,United Phosphorus Limited,Any Graduate,Data Science\nadvanced analytics\ndata analysi...
23,The Data Science Lead will use both management...,Lead - Data Science,United Phosphorus Limited,B.Tech/B.E.,Data Science\nadvanced analytics\ndigital anal...
24,The 1-months online internship program is offe...,Internship Coursework Program - Machine Learni...,Gilbert Research Center,Company Jobs,Pandas\nProgramming\nC Programming Language\nN...
25,The Ciena Services Business Intelligence & Dat...,Analyst Business Intelligence & Data Science,Ciena,Consultant Jobs,Data Science\nBusiness Intelligence\ndata anal...
26,Roles & ResponsibilitiesSolve some of the most...,Senior Manager- Data Science,Tredence,IT Services & Consulting,python\ndata science\nUnsupervised Learning\nm...
27,Knowledge and experience analyzing Medical cla...,Director Data Science,Optum,Banking,Data Science\nNLP\nBusiness Analytics\ndata st...
28,"Required Skills: Artificial Intelligence, Deep...",Data Science Analytics Manager,Accenture,Analytics / KPO / Research,Project management\nConsulting\nMachine learni...
29,"Required Skills: Artificial Intelligence, Deep...",Data Science Analytics Manager,Accenture,Recruitment / Staffing,Change management\nSAP\nConsulting\nTroublesho...
30,Deploy state of the art in-silico tools in sta...,"Senior Scientist, Data Science & Digital",Novartis Healthcare,Accenture,Automation\nData analysis\nSimulation\nAnalyti...
31,Skill required: Data Science - Machine Learnin...,Senior Analyst-Data Science,Accenture,IBM India,Publishing\nArchitecture\nConsulting\nMachine ...
32,Bachelors /Masters /PhD degree in a quantitati...,Manager - Data Science,Tredence,Shell,python\nnlp\ndata science\nmachine learning\nI...
33,Must have strong capabilities in problem solvi...,Senior Analyst - Data Science - IIT/NIT/IIM/XL...,HuQuo,RBS India Development,Data Science\nPython\nTableau\ndata analysis\n...

In [98]:
driver.close()

### 8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/
You have to find the following details:
- A) Book name
- B) Author name
- C) Volumes sold
- D) Publisher
- E) Genre

In [2]:
# let's first connect to the web driver
driver = webdriver.Chrome(r"C:\Users\Sunny\Downloads\chromedriver_win32\chromedriver.exe")
time.sleep(3)


# Getting the webpage of mentioned url 
url = "https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare"
driver.get(url)

In [3]:
#Creating empty list
Bookname = []
Authorname = []
Volumessold = []
Publisher = []
Genre = []

In [4]:
#scraping book names data
for i in driver.find_elements(By.XPATH,"//tbody//tr/td[2]"):
    Bookname.append(i.text)
    
#Scraping author names data
for i in driver.find_elements(By.XPATH,"//tbody/tr/td[3]"):
    try:
        if i.text == '0' : raise NoSuchElementException
        Authorname.append(i.text)
    except NoSuchElementException:
        Authorname.append('-')
time.sleep(1)

#Scraping data of volumes sold
for i in driver.find_elements(By.XPATH,"//tbody/tr/td[4]"):
    Volumessold.append(i.text)
    
#Scraping data of publisher names
for i in driver.find_elements(By.XPATH,"//tbody/tr/td[5]"):
    Publisher.append(i.text)
    
#Scraping data of genre
for i in driver.find_elements(By.XPATH,"//tbody/tr/td[6]"):
    Genre.append(i.text)

In [5]:
print(len(Bookname),len(Authorname),len(Volumessold),len(Publisher),len(Genre))

100 100 100 100 100

In [6]:
#Creating dataframe for scraped data
Novels=pd.DataFrame({})
Novels['Book Name'] = Bookname
Novels['Author'] = Authorname
Novels['Volume sold'] = Volumessold
Novels['Publisher'] = Publisher
Novels['Genre'] = Genre
Novels

,Book Name,Author,Volume sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [7]:
driver.close()

### 9. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
- A) Name
- B) Year span
- C) Genre
- D) Run time
- E) Ratings
- F) Votes

In [8]:
# let's first connect to the web driver
driver = webdriver.Chrome(r"C:\Users\Sunny\Downloads\chromedriver_win32\chromedriver.exe")
time.sleep(3)


# Getting the webpage of mentioned url 
url = " https://www.imdb.com/list/ls095964455/ "
driver.get(url)

In [9]:
#Creating empty lists.
Name = []
Year_span = []
Genre = []
Run_time = []
Ratings = []
Votes = []

In [10]:
#Scraping data of Names
for i in driver.find_elements(By.XPATH,"//h3[@class='lister-item-header']/a"):
    Name.append(i.text)
    
#Scraping data of Year span
for i in driver.find_elements(By.XPATH,"//span[@class='lister-item-year text-muted unbold']"):
    Year_span.append(i.text)
    
#Scraping data of Run time
for i in driver.find_elements(By.XPATH,"//span[@class='runtime']"):
    Run_time.append(i.text)
    
#Scraping data of Ratings
for i in driver.find_elements(By.XPATH,"//div[@class='ipl-rating-star small']//span[2]"):
    Ratings.append(i.text)
    
#Scraping data of genre
for i in driver.find_elements(By.XPATH,"//span[@class='genre']"):
    Genre.append(i.text)
    
#Scraping data of votes
for i in driver.find_elements(By.XPATH,"//div[@class='lister-item-content']//p[4]/span[2]"):
    Votes.append(i.text)

In [11]:
print(len(Name),len(Year_span),len(Run_time),len(Ratings),len(Genre),len(Votes))

100 100 100 100 100 100

In [12]:
series=pd.DataFrame({})
series['Name'] = Name
series['Year Span'] = Year_span
series['Genre'] = Genre
series['Run Time'] = Run_time
series['Ratings'] = Ratings
series['Votes'] = Votes
series

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011‚Äì2019),"Action, Adventure, Drama",57 min,9.2,"2,047,430"
1,Stranger Things,(2016‚Äì ),"Drama, Fantasy, Horror",51 min,8.7,"1,143,864"
2,The Walking Dead,(2010‚Äì2022),"Drama, Horror, Thriller",44 min,8.1,"967,733"
3,13 Reasons Why,(2017‚Äì2020),"Drama, Mystery, Thriller",60 min,7.5,"288,704"
4,The 100,(2014‚Äì2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"248,279"
...,...,...,...,...,...,...
95,Reign,(2013‚Äì2017),Drama,42 min,7.4,"49,533"
96,A Series of Unfortunate Events,(2017‚Äì2019),"Adventure, Comedy, Drama",50 min,7.8,"60,542"
97,Criminal Minds,(2005‚Äì2020),"Crime, Drama, Mystery",42 min,8.1,"194,709"
98,Scream: The TV Series,(2015‚Äì2019),"Comedy, Crime, Drama",45 min,7.1,"41,012"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"236,239"

In [13]:
driver.close()

### 10. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/
You have to find the following details:
- A) Dataset name
- B) Data type
- C) Task
- D) Attribute type
- E) No of instances
- F) No of attribute
- G) Year
##### Note: - from the home page you have to go to the ShowAllDataset page through code

In [14]:
# let's first connect to the web driver
driver = webdriver.Chrome(r"C:\Users\Sunny\Downloads\chromedriver_win32\chromedriver.exe")
time.sleep(3)


# Getting the webpage of mentioned url 
url = "https://archive.ics.uci.edu/"
driver.get(url)

In [15]:
# Finding view all dataset button from the webpage
viewall_dataset = driver.find_element(By.XPATH,"//tbody[1]//tr/td[2]/span[2]/a")    
page_url = viewall_dataset.get_attribute("href")
driver.get(page_url)

In [16]:
# Fetching page urls of all datasets 
view_list = driver.find_element(By.XPATH,"/html/body/table[2]/tbody/tr/td[2]/table[1]/tbody/tr/td[2]/p/a")  
list_url = view_list.get_attribute("href")           
driver.get(list_url)

In [17]:
# Fetching urls for each dataset
dataset_url = driver.find_elements(By.XPATH,"//p[@class='normal']//b/a")    

urls = []     
for i in dataset_url:
    urls.append(i.get_attribute("href"))

In [20]:
#Creating empty lists
Dataset_name = []
Data_type = []
Task = []
Attribute_type = []
No_of_instances = []
No_of_attributes = []
Year = []

In [21]:
for i in urls:
    driver.get(i)
    time.sleep(2)
    
    #Scraping Dataset name
    try: 
        dataset_name = driver.find_element(By.XPATH,"//span[@class='heading']")
        Dataset_name.append(dataset_name.text)
    except NoSuchElementException:
        Dataset_name.append('-')
    
    
    #Scraping data type
    try:
        data_type = driver.find_element(By.XPATH,"//table[@border='1']//tbody/tr/td[2]")
        if data_type.text == "N/A": raise NoSuchElementException
        Data_type.append(data_type.text)
    except NoSuchElementException:
        Data_type.append('-')
    
    
    #scraping Task
    try:
        task = driver.find_element(By.XPATH,"//table[@border='1']//tbody/tr[3]/td[2]")
        if task.text == "N/A": raise NoSuchElementException
        Task.append(task.text)
    except NoSuchElementException:
        Task.append('-')
    
    
    # Scraping Attribute type
    try:
        attribute_type = driver.find_element(By.XPATH,"//table[@border='1']//tbody/tr[2]/td[2]")
        if attribute_type.text == "N/A": raise NoSuchElementException
        Attribute_type.append(attribute_type.text)
    except NoSuchElementException:
        Attribute_type.append('-')
    
    
    # Scraping No of instances
    try:
        instances = driver.find_element(By.XPATH,"//table[@border='1']//tbody/tr/td[4]")
        if instances.text == "N/A": raise NoSuchElementException
        No_of_instances.append(instances.text)
    except NoSuchElementException:
        No_of_instances.append('-')
    
    
    # Scraping No of attributes
    try:
        attribute = driver.find_element(By.XPATH,"//table[@border='1']//tbody/tr[2]/td[4]")
        if attribute.text == "N/A": raise NoSuchElementException
        No_of_attributes.append(attribute.text)
    except NoSuchElementException:
        No_of_attributes.append('-')
    
    
    # Scraping year
    try:
        year = driver.find_element(By.XPATH,"//table[@border='1']//tbody/tr[2]/td[6]")
        if year.text == "N/A": raise NoSuchElementException
        Year.append(year.text[:4])
    except NoSuchElementException:
        Year.append('-')

In [22]:
print(len(Dataset_name),len(Data_type),len(Task),len(Attribute_type),len(No_of_instances),len(No_of_attributes),len(Year))

622 622 622 622 622 622 622

In [23]:
# Creating dataframe 

MachineLearning=pd.DataFrame({})
MachineLearning['Data Name'] = Dataset_name[:622]
MachineLearning['Data Type'] = Data_type[:622]
MachineLearning['Task'] = Task[:622]
MachineLearning['Attribute type'] = Attribute_type[:622]
MachineLearning['No of instance'] = No_of_instances[:622]
MachineLearning['No of attributes'] = No_of_attributes[:622]
MachineLearning['Year'] = Year[:622]
MachineLearning

,Data Name,Data Type,Task,Attribute type,No of instance,No of attributes,Year
0,2.4 GHZ Indoor Channel Measurements Data Set,Multivariate,Classification,Real,7840,5,2018
1,"3D Road Network (North Jutland, Denmark) Data Set","Sequential, Text","Regression, Clustering",Real,434874,4,2013
2,3W dataset Data Set,"Multivariate, Time-Series","Classification, Clustering","Integer, Real",1984,8,2019
3,9mers from cullpdb Data Set,Sequential,"Classification, Regression",Real,158716,4,2021
4,: Simulated Data set of Iraqi tourism places D...,Multivariate,"Classification, Clustering",-,232,16,2020
...,...,...,...,...,...,...,...
617,Youtube cookery channels viewers comments in H...,"Multivariate, Text",Classification,-,9800,3,2019
618,YouTube Multiview Video Games Dataset Data Set,"Multivariate, Text","Classification, Clustering","Integer, Real",120000,1000000,2013
619,YouTube Spam Collection Data Set,Text,Classification,-,1956,5,2017
620,Z-Alizadeh Sani Data Set,-,Classification,"Integer, Real",303,56,2017
621,Zoo Data Set,Multivariate,Classification,"Categorical, Integer",101,17,1990

In [24]:
driver.close()