In [1]:
! pip install selenium

Requirement already satisfied: selenium in f:\computer\lib\site-packages (4.3.0)
Requirement already satisfied: trio-websocket~=0.9 in f:\computer\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in f:\computer\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: trio~=0.17 in f:\computer\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: idna in f:\computer\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: sniffio in f:\computer\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in f:\computer\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: outcome in f:\computer\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in f:\computer\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: cffi>=1.14 in f:\computer\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: async-generator>=1.9 in f:\computer\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: pycparser in f:\computer\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in f:\computer\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: pyOpenSSL>=0.14 in f:\computer\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in f:\computer\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in f:\computer\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in f:\computer\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: six>=1.5.2 in f:\computer\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in f:\computer\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [1]:
# Let's now import all the required libraries.
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [2]:
# let's first connect to the web driver
driver = webdriver.Chrome(r"C:\Users\Sunny\Downloads\chromedriver_win32\chromedriver.exe")

# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data

In [3]:
url = "https://www.naukri.com"
driver.get(url)

In [9]:
# finding element for job search bar
search_job = driver.find_element(By.CLASS_NAME,"suggestor-input")
search_job.send_keys('Data Analyst')

In [10]:
# finding element for job location bar
search_loc=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input')
search_loc.send_keys("Bangalore")

In [11]:
# clicking using class function
search = driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [12]:
#so let's extract all the tags having the job titles
title_tags=driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']")
title_tags

[<selenium.webdriver.remote.webelement.WebElement (session="ae32c49eeca8be79e7a08d38f94f2e51", element="f943b2f6-fce4-4f1f-9b34-8c5a231d6252")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae32c49eeca8be79e7a08d38f94f2e51", element="d71fe4d9-0d1e-419a-94c6-3884bc604686")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae32c49eeca8be79e7a08d38f94f2e51", element="a4f57cfb-8c3f-49ea-8570-8fb8c915d978")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae32c49eeca8be79e7a08d38f94f2e51", element="00ab2d3d-dc2f-4dfe-a864-63e8f7d53fd8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae32c49eeca8be79e7a08d38f94f2e51", element="562ebe54-26b6-424b-b7be-b7b53eb2f229")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae32c49eeca8be79e7a08d38f94f2e51", element="30818eb4-3ed9-4ad0-9300-e150c74e69f1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae32c49eeca8be79e7a08d38f94f2e51", element="f1e21c4e-0592-49d9-95db-8138a346f525")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae32c49eeca8be79e7a08d38f94f2e51", element="91d1f7b5-343d-4670-994a-f0742620e4a6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae32c49eeca8be79e7a08d38f94f2e51", element="174dc5e2-0bc2-4660-a673-0e0f6c6452ee")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae32c49eeca8be79e7a08d38f94f2e51", element="a791bb6b-9a7f-44e1-8dc3-8a33a7b93a8c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae32c49eeca8be79e7a08d38f94f2e51", element="5a8ef2cc-9778-4ca2-8258-d3c08d08efb1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae32c49eeca8be79e7a08d38f94f2e51", element="2b50e0ee-8d84-493e-a31e-dcd305953a5a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae32c49eeca8be79e7a08d38f94f2e51", element="fdab7509-cd9c-496c-b513-620cd91c7cf0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae32c49eeca8be79e7a08d38f94f2e51", element="802b968e-20b4-40de-bcf8-0db775f4caf7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae32c49eeca8be79e7a08d38f94f2e51", element="fa9837d5-5ae8-42b6-b57f-4a16441ecf45")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae32c49eeca8be79e7a08d38f94f2e51", element="3d53e58c-61bd-4624-8ea7-46b613b03b54")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae32c49eeca8be79e7a08d38f94f2e51", element="73318f8d-1476-4dc3-98e4-47a54997603d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae32c49eeca8be79e7a08d38f94f2e51", element="491cfbf1-ab67-4714-9f1e-a84f2fd8a603")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae32c49eeca8be79e7a08d38f94f2e51", element="8798af02-70d9-483b-b0e8-3b8366d55fcd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae32c49eeca8be79e7a08d38f94f2e51", element="8618e94b-bed2-4580-8716-ddf54dd6aef3")>]

In [13]:
# extract the text of the job title  from the tags
job_titles=[]
for i in title_tags:
    if i.text is None:
        job_titles.append('Not')
    else:
        job_titles.append(i.text)
job_titles[:10]

['Senior Data Analyst',
 'Senior Data Analyst',
 'Senior Data Analyst II',
 'Data Analyst',
 'Data Analyst',
 'Leap COE Intern(Data Analyst)',
 'Data Analyst - Data Science, 3 To 5 Years',
 'Senior BI & Data Analyst',
 'Reference Data Analyst',
 'Data Analyst']

In [14]:
# lets extract all the tags having company names
company_tags=driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
company_tags

[<selenium.webdriver.remote.webelement.WebElement (session="ae32c49eeca8be79e7a08d38f94f2e51", element="1ff40cde-9948-4782-b60d-26d396948b0c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae32c49eeca8be79e7a08d38f94f2e51", element="eb676b45-89a0-44bc-ba7c-2ace216b91d5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae32c49eeca8be79e7a08d38f94f2e51", element="a1355db3-abf4-4564-8fa3-ef4b8cbb3119")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae32c49eeca8be79e7a08d38f94f2e51", element="0d64309f-124c-424b-a1d2-f1812430ef86")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae32c49eeca8be79e7a08d38f94f2e51", element="203065d9-aad6-42f5-a4f8-00c5ed5c7769")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae32c49eeca8be79e7a08d38f94f2e51", element="4f2aecea-107d-463f-a0d3-4b1c7c1abd04")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae32c49eeca8be79e7a08d38f94f2e51", element="e03ea37c-9eb4-4990-9603-5ee95b980f77")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae32c49eeca8be79e7a08d38f94f2e51", element="cfdad353-3e59-44b2-97fd-a186bc931887")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae32c49eeca8be79e7a08d38f94f2e51", element="5cb66030-3b49-4295-9d19-2d406630f5e9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae32c49eeca8be79e7a08d38f94f2e51", element="298cbb9b-2860-46f5-bf38-853a96d69069")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae32c49eeca8be79e7a08d38f94f2e51", element="bc17c280-043b-475a-8f1a-d680f570a296")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae32c49eeca8be79e7a08d38f94f2e51", element="2c20a3a1-351a-4a84-b721-e09851d87e82")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae32c49eeca8be79e7a08d38f94f2e51", element="287c6e28-217e-4254-a69c-1338c7a77902")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae32c49eeca8be79e7a08d38f94f2e51", element="cf42e640-7d1d-4c47-a243-2d20a263233c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae32c49eeca8be79e7a08d38f94f2e51", element="e412fe28-7dc6-4e59-9ab4-cd9fa4b449e1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae32c49eeca8be79e7a08d38f94f2e51", element="6d7a8a66-9de7-43d0-bf76-38c782f048fc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae32c49eeca8be79e7a08d38f94f2e51", element="4f7bcbe5-17bb-4804-937c-b2d96a3d0a25")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae32c49eeca8be79e7a08d38f94f2e51", element="104057c7-b00a-4da1-a142-25cda63fa724")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae32c49eeca8be79e7a08d38f94f2e51", element="14390a6e-b054-4da9-9b33-db79dc358ad5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae32c49eeca8be79e7a08d38f94f2e51", element="041f32ca-8403-4015-a590-47d65bf9b508")>]

In [15]:
# Now we will extract the text from the tags by looping over these tags
companies_names=[]

for i in company_tags:
    companies_names.append(i.text)
companies_names[:10]

['KrazyBee',
 'Optum',
 'Flipkart',
 'Bright Money',
 'Bayer',
 'Info Origin Inc.',
 'Rise Finconnect',
 'Samaira HR Solutions',
 'Deutsche Bank',
 'Cargill']

In [16]:
# so lets extract  all the tags having the experience required data
experience_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi experience'] //span")
experience_tags

[<selenium.webdriver.remote.webelement.WebElement (session="ae32c49eeca8be79e7a08d38f94f2e51", element="8c790466-aa9e-4c74-b074-4b1b87e568dd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae32c49eeca8be79e7a08d38f94f2e51", element="79a1d794-c991-442b-9377-f8680bd10948")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae32c49eeca8be79e7a08d38f94f2e51", element="5aeabf01-c2dc-4fbb-aadb-8812d07941b7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae32c49eeca8be79e7a08d38f94f2e51", element="831371c1-7b8f-4dc3-ab92-9cee3fb685ef")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae32c49eeca8be79e7a08d38f94f2e51", element="8c95ea90-a61a-43b4-ab39-296914af3932")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae32c49eeca8be79e7a08d38f94f2e51", element="eaf3c5c9-cc13-4b9d-9ef1-5144f4696a85")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae32c49eeca8be79e7a08d38f94f2e51", element="6d80b32e-b9d2-42c7-aca0-bd8bb0d69586")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae32c49eeca8be79e7a08d38f94f2e51", element="5a3913cd-6aac-4fdb-b072-8c10ad204423")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae32c49eeca8be79e7a08d38f94f2e51", element="5e50727c-ebf5-46d0-9299-e0a97f767c4a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae32c49eeca8be79e7a08d38f94f2e51", element="31ee5c0f-54a9-4377-9086-b468e8a528e1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae32c49eeca8be79e7a08d38f94f2e51", element="20d2662d-b136-43e5-b437-3a53cad0bfcd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae32c49eeca8be79e7a08d38f94f2e51", element="29420703-9260-4c4a-b6ba-ade9de39db57")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae32c49eeca8be79e7a08d38f94f2e51", element="488bdf76-a90b-4408-95ee-6c5d86a97d9c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae32c49eeca8be79e7a08d38f94f2e51", element="0dced753-df32-43c7-8f41-0d0e96b95bb5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae32c49eeca8be79e7a08d38f94f2e51", element="2229fa0c-fdab-493a-9b50-9f4b90da095d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae32c49eeca8be79e7a08d38f94f2e51", element="e710d666-1909-4cc9-a23b-5fb521149e8d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae32c49eeca8be79e7a08d38f94f2e51", element="cc402b26-109d-4ee7-8141-f81bbb082cc6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae32c49eeca8be79e7a08d38f94f2e51", element="bb83603e-87d9-4fa4-8a22-9149515f12b2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae32c49eeca8be79e7a08d38f94f2e51", element="1d0ac3e0-8da2-4072-ad4f-566b5bd08b77")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae32c49eeca8be79e7a08d38f94f2e51", element="f54be229-1bb1-46b6-9657-43f3871974af")>]

In [17]:
# no we will extract the text  from these tags only by one by looping over these tags
experience_list=[]
for i in experience_tags:
    experience_list.append(i.text)
experience_list[:10]

['3-6 Yrs',
 '5-7 Yrs',
 '3-6 Yrs',
 '0-2 Yrs',
 '2-5 Yrs',
 '0-1 Yrs',
 '2-6 Yrs',
 '2-4 Yrs',
 '2-5 Yrs',
 '3-5 Yrs']

In [18]:
locations_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']/span")
locations_tags

[<selenium.webdriver.remote.webelement.WebElement (session="ae32c49eeca8be79e7a08d38f94f2e51", element="2ad9261b-1ace-4180-a8e0-ac536904b5ad")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae32c49eeca8be79e7a08d38f94f2e51", element="def02cd0-ecda-4fb2-a7e9-afccd4403b85")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae32c49eeca8be79e7a08d38f94f2e51", element="03347ceb-1045-45bb-8f86-47c024adb82a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae32c49eeca8be79e7a08d38f94f2e51", element="b41498a0-aa14-482e-b855-5c90cec2dc94")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae32c49eeca8be79e7a08d38f94f2e51", element="a77ab0f4-3905-4303-80fb-0dc3bf5c1bfb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae32c49eeca8be79e7a08d38f94f2e51", element="02041c67-ea42-42d4-97ca-9ad19768b048")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae32c49eeca8be79e7a08d38f94f2e51", element="69301d4c-9f65-458e-bc5d-8a5fe707c292")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae32c49eeca8be79e7a08d38f94f2e51", element="a54bc71d-f3f5-402c-9dc4-05e430bc9a4a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae32c49eeca8be79e7a08d38f94f2e51", element="1e64f1a1-2153-44a8-ae69-2c5171da66c5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae32c49eeca8be79e7a08d38f94f2e51", element="dcf7c409-2617-4e12-98e4-3976970ba290")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae32c49eeca8be79e7a08d38f94f2e51", element="3a7f7071-4e1e-415a-b26a-72625c087caa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae32c49eeca8be79e7a08d38f94f2e51", element="ec61c0b7-3f92-4c91-9a8f-20f6af3e0be7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae32c49eeca8be79e7a08d38f94f2e51", element="5b6b54a8-3c1c-4f61-ae01-38358726bea2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae32c49eeca8be79e7a08d38f94f2e51", element="19f84822-133c-413a-8179-d8e7b2791335")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae32c49eeca8be79e7a08d38f94f2e51", element="8f4fb5f8-2915-4c32-8cb0-656f48b23f92")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae32c49eeca8be79e7a08d38f94f2e51", element="451c77c7-c7fd-42b5-b01a-058a28feadd7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae32c49eeca8be79e7a08d38f94f2e51", element="b7a9f0d7-e0a8-4100-a0e3-f0c36fc27704")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae32c49eeca8be79e7a08d38f94f2e51", element="0eb59190-87e9-4290-869e-098933bd1f24")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae32c49eeca8be79e7a08d38f94f2e51", element="3d5b68d2-9a34-4a1b-912d-ce3283470a76")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae32c49eeca8be79e7a08d38f94f2e51", element="37bd081f-ec73-4162-8fe6-6ce3f47cabb8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae32c49eeca8be79e7a08d38f94f2e51", element="3d978261-9b4a-4158-a704-089abf33fca6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae32c49eeca8be79e7a08d38f94f2e51", element="85490ef1-b2cb-4094-8266-b893436d3d93")>]

In [19]:
locations_list=[]
for i in locations_tags:
    locations_list.append(i.text)
locations_list[:10]

['Bangalore/Bengaluru(Old Madras Road)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru, Pune, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [20]:
#So lets check th length of ech element.
print(len(job_titles[:10])),print(len(companies_names[:10])),print(len(experience_list[:10])),print(len(locations_list[:10]))

10
10
10
10

(None, None, None, None)

Creating a DataFarme for the Data Analyst jobs

In [21]:
jobs=pd.DataFrame({'Job_title':job_titles[:10],'Company_name':companies_names[:10],'Experience_required':experience_list[:10],'Job_location':locations_list[:10]})
jobs

,Job_title,Company_name,Experience_required,Job_location
0,Senior Data Analyst,KrazyBee,3-6 Yrs,Bangalore/Bengaluru(Old Madras Road)
1,Senior Data Analyst,Optum,5-7 Yrs,Bangalore/Bengaluru
2,Senior Data Analyst II,Flipkart,3-6 Yrs,Bangalore/Bengaluru
3,Data Analyst,Bright Money,0-2 Yrs,Bangalore/Bengaluru
4,Data Analyst,Bayer,2-5 Yrs,Bangalore/Bengaluru
5,Leap COE Intern(Data Analyst),Info Origin Inc.,0-1 Yrs,Bangalore/Bengaluru
6,"Data Analyst - Data Science, 3 To 5 Years",Rise Finconnect,2-6 Yrs,"Bangalore/Bengaluru, Mumbai (All Areas)"
7,Senior BI & Data Analyst,Samaira HR Solutions,2-4 Yrs,"Bangalore/Bengaluru, Pune, Mumbai (All Areas)"
8,Reference Data Analyst,Deutsche Bank,2-5 Yrs,Bangalore/Bengaluru
9,Data Analyst,Cargill,3-5 Yrs,Bangalore/Bengaluru

In [22]:
driver.close()

In [23]:
from selenium.common.exceptions import NoSuchElementException

# Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.

In [24]:
# let's first connect to the web driver
driver = webdriver.Chrome(r"C:\Users\Sunny\Downloads\chromedriver_win32\chromedriver.exe")

In [25]:
url = "https://www.naukri.com/"
driver.get(url)

In [26]:
# finding element for job search bar
search_job = driver.find_element(By.CLASS_NAME,"suggestor-input ")
search_job.send_keys('Data Scientist')

In [27]:
# finding element for job location bar
search_loc=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input')
search_loc.send_keys("Bangalore")

In [28]:
# clicking using class function
search = driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [29]:
#so let's extract all the tags having the job titles
title_tags=driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']")
title_tags

[<selenium.webdriver.remote.webelement.WebElement (session="09fcf97c3786f4eee5ff6c695442d213", element="b6e78161-7731-4b42-9068-a62600508e4d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="09fcf97c3786f4eee5ff6c695442d213", element="488b9178-7eed-46f7-976b-cf863418b35b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="09fcf97c3786f4eee5ff6c695442d213", element="1309f6f8-7b15-4df2-9732-b23a54bdd48f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="09fcf97c3786f4eee5ff6c695442d213", element="baf6ef5f-ce33-4fa4-a6fb-8e118567ad86")>,
 <selenium.webdriver.remote.webelement.WebElement (session="09fcf97c3786f4eee5ff6c695442d213", element="70acfd79-17c8-4a46-8b31-4e5588facb94")>,
 <selenium.webdriver.remote.webelement.WebElement (session="09fcf97c3786f4eee5ff6c695442d213", element="7b82f076-4ba0-40f7-afe7-aeb7ca05e67f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="09fcf97c3786f4eee5ff6c695442d213", element="0cc964ce-3561-4675-a95e-b41d629ca92f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="09fcf97c3786f4eee5ff6c695442d213", element="b529767d-5a82-4a2d-a4d1-c73ea1a1fd64")>,
 <selenium.webdriver.remote.webelement.WebElement (session="09fcf97c3786f4eee5ff6c695442d213", element="21da11b3-4e61-4863-a7f5-58ef95e20a7c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="09fcf97c3786f4eee5ff6c695442d213", element="0eaa45eb-cf80-4e42-9bd6-2684e665172a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="09fcf97c3786f4eee5ff6c695442d213", element="fc88727a-5dd9-4cf0-a15f-371ba2652d43")>,
 <selenium.webdriver.remote.webelement.WebElement (session="09fcf97c3786f4eee5ff6c695442d213", element="e1a30b35-65d0-4540-bc88-86d2fe2e37c7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="09fcf97c3786f4eee5ff6c695442d213", element="ceb036fd-fb00-4c89-b851-0b91e1ce2e85")>,
 <selenium.webdriver.remote.webelement.WebElement (session="09fcf97c3786f4eee5ff6c695442d213", element="6e728150-1a35-4b65-801c-8c3beeb338bb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="09fcf97c3786f4eee5ff6c695442d213", element="bf5e132d-ea39-40ed-9229-d4a0db5a9df5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="09fcf97c3786f4eee5ff6c695442d213", element="cea52f26-f210-4d19-9a34-c693653292bf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="09fcf97c3786f4eee5ff6c695442d213", element="a5c7c683-2aaa-4465-b91b-fe88a0c5e91f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="09fcf97c3786f4eee5ff6c695442d213", element="6e349900-5234-4c0c-9c91-a3a020a97d3d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="09fcf97c3786f4eee5ff6c695442d213", element="30c92999-73da-4d1e-a7d0-b72fd2fe20dc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="09fcf97c3786f4eee5ff6c695442d213", element="7f9b9eb1-9cc1-4315-986f-ab606391d6c3")>]

In [30]:
# extract the text of the job title  from the tags
job_titles=[]
for i in title_tags:
    job_titles.append(i.text)
job_titles[:10]

['Tcs Hiring For Data Scientist',
 'Senior Manager - EmTech - Machine Learning - P&T',
 'Assistant Manager - Data Science',
 'Analystics & Modeling Specialist',
 'Data scientist _Tata Consultancy Services(Tcs)',
 'Job||Job Opening For AI Technologist - Data Scientist at Wipro Holmes',
 'Hiring For DATA Scientist @ NTT DATA Business Solution India',
 'Urgent Job Opening For AI Practitioner - Data Science at Wipro Holmes',
 'Data Scientist',
 'Data Scientist - Full Stack']

In [31]:
# lets extract all the tags having company names
company_tags=driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
company_tags

[<selenium.webdriver.remote.webelement.WebElement (session="09fcf97c3786f4eee5ff6c695442d213", element="daecf74e-e424-4629-baa3-287ec6ac127e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="09fcf97c3786f4eee5ff6c695442d213", element="e13677a4-5820-4514-8f76-f7020d4c9f49")>,
 <selenium.webdriver.remote.webelement.WebElement (session="09fcf97c3786f4eee5ff6c695442d213", element="047806c4-7d57-4358-9bef-a0ab73934a52")>,
 <selenium.webdriver.remote.webelement.WebElement (session="09fcf97c3786f4eee5ff6c695442d213", element="72e95bd4-e0fd-400b-933c-f43f5846f8e1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="09fcf97c3786f4eee5ff6c695442d213", element="e7b6fd33-b874-49c2-a6e3-0e33e38b82d7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="09fcf97c3786f4eee5ff6c695442d213", element="5b1a5202-0d04-4ae1-b483-e08fec58891e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="09fcf97c3786f4eee5ff6c695442d213", element="4fff081a-8e7d-4a72-a403-3246b4665db5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="09fcf97c3786f4eee5ff6c695442d213", element="d0ca1af7-0a02-4e01-95ce-c2c18229cadf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="09fcf97c3786f4eee5ff6c695442d213", element="dbb74f3b-5f48-4a0d-afbc-0727a08ffb88")>,
 <selenium.webdriver.remote.webelement.WebElement (session="09fcf97c3786f4eee5ff6c695442d213", element="312fc060-3a29-4978-ad75-04281c9ca8f3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="09fcf97c3786f4eee5ff6c695442d213", element="7cfae538-7b81-479a-ab58-5bcff94c1dcb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="09fcf97c3786f4eee5ff6c695442d213", element="1975eedb-08db-47e9-9919-03eb5124aaf0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="09fcf97c3786f4eee5ff6c695442d213", element="225dad97-8b52-4649-9a30-36f48fd55bbb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="09fcf97c3786f4eee5ff6c695442d213", element="959eb921-b910-41ac-83d3-ad344bcc28d4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="09fcf97c3786f4eee5ff6c695442d213", element="5b160f2c-c0a3-4243-b4c3-6155dd2dd61a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="09fcf97c3786f4eee5ff6c695442d213", element="4e34a960-f5d6-4515-a170-dc004413bc7c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="09fcf97c3786f4eee5ff6c695442d213", element="2ba74cf3-d55e-44c6-a5aa-cdd63a238143")>,
 <selenium.webdriver.remote.webelement.WebElement (session="09fcf97c3786f4eee5ff6c695442d213", element="78758a91-8e10-4a53-89f3-5c128c9bcc17")>,
 <selenium.webdriver.remote.webelement.WebElement (session="09fcf97c3786f4eee5ff6c695442d213", element="dc2220ca-be32-4a2e-8b53-09a2ff57db69")>,
 <selenium.webdriver.remote.webelement.WebElement (session="09fcf97c3786f4eee5ff6c695442d213", element="36c6c77d-db3c-42a3-a62e-d75ba112c96f")>]

In [32]:
# Now we will extract the text from the tags by looping over these tags
companies_names=[]

for i in company_tags:
    companies_names.append(i.text)
companies_names[:10]

['TATA CONSULTANCY SERVICES (TCS)',
 'PwC',
 'CitiusTech',
 'Accenture',
 'TATA CONSULTANCY SERVICES (TCS)',
 'Wipro',
 'NTT DATA Business Solutions Private Limited',
 'Wipro',
 'Concentrix',
 'Salesforce']

In [33]:
# so lets extract  all the tags having the experience required data
experience_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi experience'] //span")
experience_tags

[<selenium.webdriver.remote.webelement.WebElement (session="09fcf97c3786f4eee5ff6c695442d213", element="8d6dde91-5a65-4e73-9ad9-eb15f8938775")>,
 <selenium.webdriver.remote.webelement.WebElement (session="09fcf97c3786f4eee5ff6c695442d213", element="e43319cf-6939-4e38-b201-475aab4e6d13")>,
 <selenium.webdriver.remote.webelement.WebElement (session="09fcf97c3786f4eee5ff6c695442d213", element="b2905c72-bc6e-4161-9194-b2056cfbcff5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="09fcf97c3786f4eee5ff6c695442d213", element="688bd975-6a9b-4dc9-ac5a-46a292585d2d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="09fcf97c3786f4eee5ff6c695442d213", element="b7ffbd43-993e-4304-82f4-fd0a793a6570")>,
 <selenium.webdriver.remote.webelement.WebElement (session="09fcf97c3786f4eee5ff6c695442d213", element="4722ed03-02f1-4e7b-8c65-4cbfe47ff5b5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="09fcf97c3786f4eee5ff6c695442d213", element="161280b7-b466-4abc-b9e0-4ae1206b2386")>,
 <selenium.webdriver.remote.webelement.WebElement (session="09fcf97c3786f4eee5ff6c695442d213", element="be01bd6a-c4a8-4797-9de4-56f62ff9ffe5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="09fcf97c3786f4eee5ff6c695442d213", element="357bf76d-444d-4c9c-8829-0de95aa9cdcc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="09fcf97c3786f4eee5ff6c695442d213", element="9763313e-0a57-4a9f-8077-a8004b0bb5b8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="09fcf97c3786f4eee5ff6c695442d213", element="157acf05-57c9-4bce-b8b4-9376587c2182")>,
 <selenium.webdriver.remote.webelement.WebElement (session="09fcf97c3786f4eee5ff6c695442d213", element="e91dd63f-e88a-47c2-97c0-0f8b9b60049f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="09fcf97c3786f4eee5ff6c695442d213", element="ff97b53c-65c7-4ba5-9b8f-95f8c35e729d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="09fcf97c3786f4eee5ff6c695442d213", element="ce4c3eea-a8d1-4782-9c52-5bce73bc1192")>,
 <selenium.webdriver.remote.webelement.WebElement (session="09fcf97c3786f4eee5ff6c695442d213", element="e96e3d86-ccb7-41e1-aa9c-debce676051c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="09fcf97c3786f4eee5ff6c695442d213", element="253b4135-edc9-4b3a-85ab-50e0798b3cc3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="09fcf97c3786f4eee5ff6c695442d213", element="81e7e304-2287-4847-9ad7-54eba35e2a12")>,
 <selenium.webdriver.remote.webelement.WebElement (session="09fcf97c3786f4eee5ff6c695442d213", element="cbc6120c-e229-4c95-bfd6-659c62aa840a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="09fcf97c3786f4eee5ff6c695442d213", element="3fa797d0-de7b-4ec6-80e8-fddd5d77a482")>,
 <selenium.webdriver.remote.webelement.WebElement (session="09fcf97c3786f4eee5ff6c695442d213", element="305a2c5d-ca14-4b0e-8953-cd286f318fc2")>]

In [34]:
# no we will extract the text  from these tags only by one by looping over these tags
experience_list=[]

for i in experience_tags:
    experience_list.append(i.text)
experience_list[:10]

['3-8 Yrs',
 '5-12 Yrs',
 '5-9 Yrs',
 '6-8 Yrs',
 '9-14 Yrs',
 '5-10 Yrs',
 '4-9 Yrs',
 '11-20 Yrs',
 '7-12 Yrs',
 '4-9 Yrs']

In [35]:
locations_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']/span")
locations_tags

[<selenium.webdriver.remote.webelement.WebElement (session="09fcf97c3786f4eee5ff6c695442d213", element="d12d295a-c0ec-4013-a74b-4920c7929d8a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="09fcf97c3786f4eee5ff6c695442d213", element="d6696514-16f3-4239-890c-315858b2dc80")>,
 <selenium.webdriver.remote.webelement.WebElement (session="09fcf97c3786f4eee5ff6c695442d213", element="67076896-a8ff-4b0f-b15c-4c704283b7f3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="09fcf97c3786f4eee5ff6c695442d213", element="9aba562d-ba59-4d65-8415-b42a2c97034e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="09fcf97c3786f4eee5ff6c695442d213", element="5b7f0ad5-b3b7-46d3-b73f-4f3af137827e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="09fcf97c3786f4eee5ff6c695442d213", element="c4480ac1-c1e8-493e-9408-d3aef8527c03")>,
 <selenium.webdriver.remote.webelement.WebElement (session="09fcf97c3786f4eee5ff6c695442d213", element="91608081-3dec-4266-bd7d-5d9d4c385705")>,
 <selenium.webdriver.remote.webelement.WebElement (session="09fcf97c3786f4eee5ff6c695442d213", element="0a7643e5-65ae-4f56-ad72-ebb09f3e05cf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="09fcf97c3786f4eee5ff6c695442d213", element="ede9f903-bdba-48e8-8ef5-9c251e4e427b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="09fcf97c3786f4eee5ff6c695442d213", element="0b0d3af2-8add-476a-ac14-e3acb2f80a20")>,
 <selenium.webdriver.remote.webelement.WebElement (session="09fcf97c3786f4eee5ff6c695442d213", element="c28d10d1-234b-4d5c-b753-04b78574f7c5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="09fcf97c3786f4eee5ff6c695442d213", element="57ad711b-6208-4cd0-b660-b9d0c16845cd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="09fcf97c3786f4eee5ff6c695442d213", element="556f4642-bb07-4a18-a21c-1ac79127ea56")>,
 <selenium.webdriver.remote.webelement.WebElement (session="09fcf97c3786f4eee5ff6c695442d213", element="99c00e88-eed4-496e-a23f-c15f5da64f21")>,
 <selenium.webdriver.remote.webelement.WebElement (session="09fcf97c3786f4eee5ff6c695442d213", element="a26f4b1b-5675-4acc-917b-03d39b979fed")>,
 <selenium.webdriver.remote.webelement.WebElement (session="09fcf97c3786f4eee5ff6c695442d213", element="e4137600-ad34-4eef-b59f-9bfa554289c1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="09fcf97c3786f4eee5ff6c695442d213", element="e0de1aee-0267-499c-9858-185a6bbba4a8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="09fcf97c3786f4eee5ff6c695442d213", element="58c6f0a6-ab11-41a9-ae7b-67d56c11d282")>,
 <selenium.webdriver.remote.webelement.WebElement (session="09fcf97c3786f4eee5ff6c695442d213", element="05550bfe-9f7e-41fc-b526-237ff8b20866")>,
 <selenium.webdriver.remote.webelement.WebElement (session="09fcf97c3786f4eee5ff6c695442d213", element="80a7ab7f-7998-4474-be2a-08e53dbda814")>]

In [36]:
locations_list=[]
for i in locations_tags:
    locations_list.append(i.text)
locations_list[:10]

['Bangalore/Bengaluru, Chennai, Mumbai (All Areas)',
 'Bangalore/Bengaluru, Mumbai, Hyderabad/Secunderabad',
 'Bangalore/Bengaluru, Mumbai, Pune',
 'Bangalore/Bengaluru, Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Chennai, delhi ncr',
 'Bangalore/Bengaluru, Kochi/Cochin, Indore, New Delhi, Hyderabad/Secunderabad, Pune, Chennai, Delhi / NCR, Mumbai (All Areas)',
 'Bangalore/Bengaluru, New Delhi, Hyderabad/Secunderabad, Pune, Chennai, Coimbatore, Cochin, Mumbai',
 'Bangalore/Bengaluru, Noida, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Mumbai (All Areas)',
 'Bangalore/Bengaluru, Kochi/Cochin, New Delhi, Coimbatore, Chennai, Pune, Mumbai, Hyderabad',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Hyderabad/Secunderabad']

In [37]:
#So lets check th length of ech element.
print(len(job_titles[:10])),print(len(companies_names[:10])),print(len(experience_list[:10])),print(len(locations_list[:10]))

10
10
10
10

(None, None, None, None)

Creating a DataFarme for the Data Scientist jobs

In [38]:
jobs=pd.DataFrame({'Job_title':job_titles[:10],'Company_name':companies_names[:10],'Experience_required':experience_list[:10],'Job_location':locations_list[:10]})
jobs

,Job_title,Company_name,Experience_required,Job_location
0,Tcs Hiring For Data Scientist,TATA CONSULTANCY SERVICES (TCS),3-8 Yrs,"Bangalore/Bengaluru, Chennai, Mumbai (All Areas)"
1,Senior Manager - EmTech - Machine Learning - P&T,PwC,5-12 Yrs,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde..."
2,Assistant Manager - Data Science,CitiusTech,5-9 Yrs,"Bangalore/Bengaluru, Mumbai, Pune"
3,Analystics & Modeling Specialist,Accenture,6-8 Yrs,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba..."
4,Data scientist _Tata Consultancy Services(Tcs),TATA CONSULTANCY SERVICES (TCS),9-14 Yrs,"Bangalore/Bengaluru, Kochi/Cochin, Indore, New..."
5,Job||Job Opening For AI Technologist - Data Sc...,Wipro,5-10 Yrs,"Bangalore/Bengaluru, New Delhi, Hyderabad/Secu..."
6,Hiring For DATA Scientist @ NTT DATA Business ...,NTT DATA Business Solutions Private Limited,4-9 Yrs,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder..."
7,Urgent Job Opening For AI Practitioner - Data ...,Wipro,11-20 Yrs,"Bangalore/Bengaluru, Kochi/Cochin, New Delhi, ..."
8,Data Scientist,Concentrix,7-12 Yrs,Bangalore/Bengaluru
9,Data Scientist - Full Stack,Salesforce,4-9 Yrs,"Bangalore/Bengaluru, Hyderabad/Secunderabad"

In [39]:
driver.close()

In [40]:
from selenium.common.exceptions import NoSuchElementException

# Q3: In this question you have to scrape data using the filters available on the webpage as shown below:

You have to use the location and salary filter.

You have to scrape data for “Data Scientist” designation for first 10 job results.

You have to scrape the job-title, job-location, company_name, experience_required.

The location filter to be used is “Delhi/NCR”

The salary filter to be used is “3-6” lakhs

In [41]:
# let's first connect to the web driver
driver = webdriver.Chrome(r"C:\Users\Sunny\Downloads\chromedriver_win32\chromedriver.exe")

In [42]:
url = "https://www.naukri.com/"
driver.get(url)

In [43]:
# finding element for job search bar
search_job = driver.find_element(By.CLASS_NAME,"suggestor-input ")
search_job.send_keys('Data Scientist')

In [44]:
# finding element for job location bar
search_loc=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input')
search_loc.send_keys("Delhi/NCR")

In [45]:
# clicking using class function
search = driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [46]:
# selecting salary filter
search_salary = driver.find_element(By.XPATH,'//span[@title="3-6 Lakhs"]')
search_salary.click()

In [47]:
# selecting location filter
search_location = driver.find_element(By.XPATH,'//span[@title="Delhi / NCR"]')
search_location.click()

In [48]:
#so let's extract all the tags having the job titles
title_tags=driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']")
title_tags

[<selenium.webdriver.remote.webelement.WebElement (session="fd516449fafdf073fd905ef84e22b7b3", element="35686da5-3b08-4c0c-aca9-a03a1f9e5ed6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fd516449fafdf073fd905ef84e22b7b3", element="ac4a650e-a20e-4ba1-bcef-454b3a144274")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fd516449fafdf073fd905ef84e22b7b3", element="6bffe599-c177-4411-bbb8-aa73f5db99c6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fd516449fafdf073fd905ef84e22b7b3", element="53e33826-2d58-435e-80ba-a829ec2797c8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fd516449fafdf073fd905ef84e22b7b3", element="40f9b0dd-e9a1-4973-938a-4c516614808d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fd516449fafdf073fd905ef84e22b7b3", element="fe456601-cce6-4fb5-9e54-a95ede2d4eca")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fd516449fafdf073fd905ef84e22b7b3", element="f5126fdd-2884-4e6b-85e0-fe1c92c63c78")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fd516449fafdf073fd905ef84e22b7b3", element="30d594ff-a083-44d9-972d-42662eb3a751")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fd516449fafdf073fd905ef84e22b7b3", element="761e2aa3-8b79-44d7-b231-087a031da952")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fd516449fafdf073fd905ef84e22b7b3", element="9779f053-6851-47eb-97e7-d8539e016bad")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fd516449fafdf073fd905ef84e22b7b3", element="54a6abf1-90b8-4e8f-9ac5-5fd8c7180ec5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fd516449fafdf073fd905ef84e22b7b3", element="1edca1b2-296e-4365-89eb-2007c13beb85")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fd516449fafdf073fd905ef84e22b7b3", element="db302074-2b21-4a63-a146-e7cfd8fc673a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fd516449fafdf073fd905ef84e22b7b3", element="0805c4ee-a91a-4025-9581-ad0b4faabda0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fd516449fafdf073fd905ef84e22b7b3", element="103ff938-5631-4834-b5b9-be231e6dc719")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fd516449fafdf073fd905ef84e22b7b3", element="77d75140-ce12-4048-b204-350ea4105158")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fd516449fafdf073fd905ef84e22b7b3", element="d384e224-432d-4654-a608-5c01cade914a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fd516449fafdf073fd905ef84e22b7b3", element="ffbdfb6d-9344-4a77-986a-61510841ef8a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fd516449fafdf073fd905ef84e22b7b3", element="863181f4-a298-4a7f-9601-43fa94e6626b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fd516449fafdf073fd905ef84e22b7b3", element="7dcb7064-0bb2-4c12-b850-40aefca03e17")>]

In [49]:
# extract the text of the job title  from the tags
job_titles=[]
for i in title_tags:
    job_titles.append(i.text)
job_titles[:10]

['Job||Job Opening For AI Technologist - Data Scientist at Wipro Holmes',
 'Data Scientist - Noida/Bangalore',
 'DigitalBCG GAMMA Data Scientist',
 'Data Scientist',
 'Chat-bot Developer / Data Scientist',
 'Data Scientist / Chat-bot Developer',
 'Data Scientist - Engine Algorithm',
 'Data Scientist For Healthcare Product team',
 'Data Scientist',
 'Data Scientist']

In [50]:
# lets extract all the tags having company names
company_tags=driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
company_tags

[<selenium.webdriver.remote.webelement.WebElement (session="fd516449fafdf073fd905ef84e22b7b3", element="dc116381-0fbb-453a-9588-ccce08ca918c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fd516449fafdf073fd905ef84e22b7b3", element="08f8fa9c-741c-4daa-8391-629d54da7252")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fd516449fafdf073fd905ef84e22b7b3", element="55efc323-797c-4af3-affb-243ccb4bff56")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fd516449fafdf073fd905ef84e22b7b3", element="aa564388-024e-4ef0-9e40-c290e3943aec")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fd516449fafdf073fd905ef84e22b7b3", element="83c33408-8221-46dd-904f-cfd11a7b2842")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fd516449fafdf073fd905ef84e22b7b3", element="7d42e2c4-916c-4b36-a7f9-9afd01a1fb99")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fd516449fafdf073fd905ef84e22b7b3", element="cd48fa3f-58b2-4ef9-89bd-a65ddfa2ae06")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fd516449fafdf073fd905ef84e22b7b3", element="97d4c38e-6b85-48de-b990-ee5a55e26302")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fd516449fafdf073fd905ef84e22b7b3", element="9dff7576-5eda-4bfb-94b4-160c34e089f1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fd516449fafdf073fd905ef84e22b7b3", element="c61d99bf-33af-4164-8d1d-ca3c3b10005a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fd516449fafdf073fd905ef84e22b7b3", element="99f12487-da6c-42ea-9aa3-d1746fc61a65")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fd516449fafdf073fd905ef84e22b7b3", element="b3b3fb04-6334-4f4c-a62a-18beba8fed9b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fd516449fafdf073fd905ef84e22b7b3", element="dfc9dadb-ab9e-4e24-9319-7f79224f6aa3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fd516449fafdf073fd905ef84e22b7b3", element="dc0b610f-9b4e-492e-bbb0-3f26f87c4dc7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fd516449fafdf073fd905ef84e22b7b3", element="a2f583fc-0a16-4582-846d-e6208aad3d8e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fd516449fafdf073fd905ef84e22b7b3", element="ef9efd3d-d4e9-4f36-9b92-2dc552992a0a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fd516449fafdf073fd905ef84e22b7b3", element="e613fd10-4775-42f3-b773-eae2ee666b69")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fd516449fafdf073fd905ef84e22b7b3", element="21fb3c96-0e36-42a6-a8bc-50c8f1c68804")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fd516449fafdf073fd905ef84e22b7b3", element="7120b7d2-5e1d-4b3e-bcd3-d00945ec003b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fd516449fafdf073fd905ef84e22b7b3", element="7bd778a9-db1c-473f-900b-2e07b7e73001")>]

In [51]:
# Now we will extract the text from the tags by looping over these tags
companies_names=[]

for i in company_tags:
    companies_names.append(i.text)
companies_names[:10]

['Wipro',
 'EXL',
 'Boston Consulting Group',
 'Optum',
 'Big Seo Buzz',
 'Big Seo Buzz',
 'Primo Hiring',
 'SECUREKLOUD TECHNOLOGIES',
 'Celebal Technologies',
 'Webhelp India Private Limited']

In [52]:
# so lets extract  all the tags having the experience required data
experience_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi experience'] //span")
experience_tags

[<selenium.webdriver.remote.webelement.WebElement (session="fd516449fafdf073fd905ef84e22b7b3", element="b8de2392-815f-4c88-9179-5a8f4ffbbcf6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fd516449fafdf073fd905ef84e22b7b3", element="62f32540-e04a-479f-9d8f-d6c88d529fd6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fd516449fafdf073fd905ef84e22b7b3", element="33dee810-a01e-4062-9633-7cc257518d60")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fd516449fafdf073fd905ef84e22b7b3", element="cbcb2d51-4ad9-4a98-9546-a84bc41dc2a1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fd516449fafdf073fd905ef84e22b7b3", element="54e0826f-9e13-4579-bca0-b23aab1665c8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fd516449fafdf073fd905ef84e22b7b3", element="09282d31-e4ac-40f0-b0ce-72a0fecf33f3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fd516449fafdf073fd905ef84e22b7b3", element="561c02e2-433c-4ab1-89fc-0612381ed666")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fd516449fafdf073fd905ef84e22b7b3", element="6401ba64-3ab0-4b42-a0e6-802717944a82")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fd516449fafdf073fd905ef84e22b7b3", element="cb21e723-0558-494f-af45-d75e977a5ef8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fd516449fafdf073fd905ef84e22b7b3", element="138f92b4-6f06-4f3e-95f4-c8cc35389d43")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fd516449fafdf073fd905ef84e22b7b3", element="f9a91af0-7d6f-47b6-a855-9860e7a7ae6b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fd516449fafdf073fd905ef84e22b7b3", element="418752a3-1543-4edc-8fed-7407f5b70161")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fd516449fafdf073fd905ef84e22b7b3", element="455daf48-d15c-4bbe-ad29-6d7c2fc88ea4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fd516449fafdf073fd905ef84e22b7b3", element="3f052d2a-d788-4d50-b13a-1966d2485c88")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fd516449fafdf073fd905ef84e22b7b3", element="0fa35c58-4cc3-4902-985a-ade7946d93ef")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fd516449fafdf073fd905ef84e22b7b3", element="7d8c61bd-c84f-4055-a5d3-aa346ab6df71")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fd516449fafdf073fd905ef84e22b7b3", element="7f58e2d3-f81b-48f6-949f-7458f1c8e071")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fd516449fafdf073fd905ef84e22b7b3", element="c5020c59-a6cb-4ffd-838c-201107f70daf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fd516449fafdf073fd905ef84e22b7b3", element="48d5ffdb-99d3-4568-afad-4c7e2a719b60")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fd516449fafdf073fd905ef84e22b7b3", element="527e9e1d-de6a-4407-a6c2-bbab22f3066c")>]

In [53]:
# no we will extract the text  from these tags only by one by looping over these tags
experience_list=[]

for i in experience_tags:
    experience_list.append(i.text)
experience_list[:10]

['5-10 Yrs',
 '5-10 Yrs',
 '2-5 Yrs',
 '2-7 Yrs',
 '2-7 Yrs',
 '3-7 Yrs',
 '1-3 Yrs',
 '2-7 Yrs',
 '1-5 Yrs',
 '2-7 Yrs']

In [54]:
locations_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']/span")
locations_tags

[<selenium.webdriver.remote.webelement.WebElement (session="fd516449fafdf073fd905ef84e22b7b3", element="fad5430f-2646-4600-be1a-d266b6e46b55")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fd516449fafdf073fd905ef84e22b7b3", element="f095cd5f-0eec-44fe-bba7-543c56c41a5c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fd516449fafdf073fd905ef84e22b7b3", element="48f3118f-618b-4545-aaff-34e892485e92")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fd516449fafdf073fd905ef84e22b7b3", element="75779236-6ef8-499e-a07f-dca67eb65b39")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fd516449fafdf073fd905ef84e22b7b3", element="fd89c13c-9568-4f07-8671-d01fb6eab0b5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fd516449fafdf073fd905ef84e22b7b3", element="70dd48b4-e21d-43ec-9300-c6926c835e06")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fd516449fafdf073fd905ef84e22b7b3", element="145ccf56-496f-4fe8-8518-b032d8509785")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fd516449fafdf073fd905ef84e22b7b3", element="3540d486-e90c-42df-bb54-423d6a3f904a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fd516449fafdf073fd905ef84e22b7b3", element="0f73c2a0-3d8d-47ae-8824-b606606a4221")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fd516449fafdf073fd905ef84e22b7b3", element="ac164688-0c49-40d8-9cf4-b6d68cc300d2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fd516449fafdf073fd905ef84e22b7b3", element="84d9930d-4e78-459e-bc04-97abd1cba74b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fd516449fafdf073fd905ef84e22b7b3", element="0e5f0540-c939-4d48-8bd3-231cff4839e2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fd516449fafdf073fd905ef84e22b7b3", element="c15d45c5-fbf8-48be-918f-85776329d779")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fd516449fafdf073fd905ef84e22b7b3", element="be624801-d7cb-4062-bf76-ecf29aaebb18")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fd516449fafdf073fd905ef84e22b7b3", element="b3693aaa-497b-473c-96eb-a2a0e27021d4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fd516449fafdf073fd905ef84e22b7b3", element="d807696c-ecf2-486b-a9c7-d8ed05e3fe21")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fd516449fafdf073fd905ef84e22b7b3", element="3b82df0b-86c4-4d4f-a7ea-b0b8b43134b0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fd516449fafdf073fd905ef84e22b7b3", element="d2a69e1c-2a09-4d83-82e7-1e032f9b71b8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fd516449fafdf073fd905ef84e22b7b3", element="b5a5af4f-84da-42be-8e9d-87f730e95653")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fd516449fafdf073fd905ef84e22b7b3", element="4e7a7e0f-2aec-46aa-ab99-9c71c198cd91")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fd516449fafdf073fd905ef84e22b7b3", element="276379a1-b6bc-4c96-8156-234cae98a785")>]

In [55]:
locations_list=[]
for i in locations_tags:
    locations_list.append(i.text)
locations_list[:10]

['New Delhi, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Coimbatore, Cochin, Mumbai',
 'Noida, Bangalore/Bengaluru',
 'New Delhi, Bangalore/Bengaluru',
 'Gurgaon/Gurugram',
 'Mumbai, New Delhi, Bangalore/Bengaluru',
 '(WFH during Covid)',
 'New Delhi, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secunderabad, Lucknow, Chennai, Ahmedabad, Bangalore/Bengaluru',
 'Delhi / NCR, Chennai, Bangalore/Bengaluru',
 'Noida, Gurgaon/Gurugram, Jaipur']

In [56]:
#So lets check th length of ech element.
print(len(job_titles[:10])),print(len(companies_names[:10])),print(len(experience_list[:10])),print(len(locations_list[:10]))

10
10
10
10

(None, None, None, None)

Creating a DataFarme for the Data Scientist jobs at Delhi/NCR location for salary 3-6 lakhs

In [57]:
jobs1=pd.DataFrame({'Job_title':job_titles[:10],'Company_name':companies_names[:10],'Experience_required':experience_list[:10],'Job_location':locations_list[:10]})
jobs1

,Job_title,Company_name,Experience_required,Job_location
0,Job||Job Opening For AI Technologist - Data Sc...,Wipro,5-10 Yrs,"New Delhi, Hyderabad/Secunderabad, Pune, Chenn..."
1,Data Scientist - Noida/Bangalore,EXL,5-10 Yrs,"Noida, Bangalore/Bengaluru"
2,DigitalBCG GAMMA Data Scientist,Boston Consulting Group,2-5 Yrs,"New Delhi, Bangalore/Bengaluru"
3,Data Scientist,Optum,2-7 Yrs,Gurgaon/Gurugram
4,Chat-bot Developer / Data Scientist,Big Seo Buzz,2-7 Yrs,"Mumbai, New Delhi, Bangalore/Bengaluru"
5,Data Scientist / Chat-bot Developer,Big Seo Buzz,3-7 Yrs,(WFH during Covid)
6,Data Scientist - Engine Algorithm,Primo Hiring,1-3 Yrs,"New Delhi, Bangalore/Bengaluru, Mumbai (All Ar..."
7,Data Scientist For Healthcare Product team,SECUREKLOUD TECHNOLOGIES,2-7 Yrs,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund..."
8,Data Scientist,Celebal Technologies,1-5 Yrs,"Delhi / NCR, Chennai, Bangalore/Bengaluru"
9,Data Scientist,Webhelp India Private Limited,2-7 Yrs,"Noida, Gurgaon/Gurugram, Jaipur"

In [58]:
driver.close()

In [59]:
from selenium.common.exceptions import NoSuchElementException

# Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price

In [60]:
# let's first connect to the web driver
driver = webdriver.Chrome(r"C:\Users\Sunny\Downloads\chromedriver_win32\chromedriver.exe")

In [61]:
url = "https://www.flipkart.com/"
driver.get(url)

In [62]:
# finding element on search bar
search_g= driver.find_element(By.XPATH,("/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input"))
search_g.send_keys('sunglasses')

In [64]:
# clicking using class function
search = driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [65]:
#creating empty lists to scrap data for 100 products
brand_name=[]
product_description=[]
price=[]

#scrapting all the tags having Brand names
brand_tags=driver.find_elements(By.CLASS_NAME,"_2WkVRV")

#displaying the tags extracted above into text 
for i in brand_tags:
    brand_name.append(i.text)
brand_name[0:40]

['SKYZA INDIA',
 'SKYZA INDIA',
 'Fastrack',
 'Elligator',
 'Fastrack',
 'PIRASO',
 'Lee Topper',
 'Fair-x',
 'PHENOMENAL',
 'Fastrack',
 'Fastrack',
 'VINCENT CHASE',
 'Fastrack',
 'NuVew',
 'EYELLUSION',
 'VINCENT CHASE',
 'DAHAAZIL',
 'SUNBEE',
 'GANSTA',
 'VINCENT CHASE',
 'ROZZETTA CRAFT',
 'Fastrack',
 'New Specs',
 'Fair-x',
 'kingsunglasses',
 'Silver Kartz',
 'PIRASO',
 'VINCENT CHASE',
 'Mi',
 'Fastrack',
 'CRYSTAL CART',
 'ROYAL SON',
 'Rich Club',
 'PIRASO',
 'LIZA ANGEL',
 'VINCENT CHASE',
 'Fastrack',
 'Dannilo',
 'PHENOMENAL',
 'ROYAL SON']

In [66]:
#to display the next 40 results in the next page
next_page=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span')
next_page.click()

In [67]:
brand=[]
#scrapting all the tags having Brand names from page 2
brand_tags2=driver.find_elements(By.CLASS_NAME,"_2WkVRV")

#displaying the tags extracted above into text 
for i in brand_tags2:
    brand.append(i.text)
brand[0:40]

['CRYSTAL CART',
 'PIRASO',
 'VINCENT CHASE',
 'ROYAL SON',
 'PIRASO',
 'SUNBEE',
 'PIRASO',
 'VINCENT CHASE',
 'Elligator',
 'ROYAL SON',
 'Fastrack',
 'VINCENT CHASE',
 'SHAAH COLLECTIONS',
 'PIRASO',
 'Fastrack',
 'OCHILA',
 'Dannilo',
 'Lee Topper',
 'Rich Club',
 'Enrico',
 'HAMIW COLLECTION',
 'Singco India',
 'ROYAL SON',
 'VINCENT CHASE',
 'Rich Club',
 'SHAAH COLLECTIONS',
 'Fastrack',
 'VINCENT CHASE',
 'kingsunglasses',
 'Lee Topper',
 'AISLIN',
 'OCHILA',
 'kingsunglasses',
 'ROZZETTA CRAFT',
 'ROYAL SON',
 'Intellilens',
 'kingsunglasses',
 'Ray-Ban',
 'LIZA ANGEL',
 'VINCENT CHASE']

In [68]:
#to display the next 20 results in the next page
next_page2=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]/span')
next_page2.click()

In [69]:
#creating a list to display the results on the 3rd page
brand_name2=[]

#scrapting all the tags having Brand names from page 3
brand_tags3=driver.find_elements(By.CLASS_NAME,"_2WkVRV")

#displaying the tags extracted above into text 
for i in brand_tags3:
    brand_name2.append(i.text)
brand_name2[0:20]

['SRPM',
 'AISLIN',
 'ROZZETTA CRAFT',
 'Fastrack',
 'ROYAL SON',
 'New Specs',
 'ROYAL SON',
 'ROZZETTA CRAFT',
 'Fastrack',
 'GANSTA',
 'VINCENT CHASE',
 'VINCENT CHASE',
 'Fastrack',
 'PIRASO',
 'GANSTA',
 'Dannilo',
 'AISLIN',
 'ROYAL SON',
 'GANSTA',
 'PIRASO']

In [70]:
#scrapting all the tags having product description
product_tags=driver.find_elements(By.CLASS_NAME,"IRpwTa")
product_tags[0:40]
#displaying 40 tags extracted above into text 
for i in product_tags:
    product_description.append(i.text)
product_description[0:40]

['UV Protection Wayfarer Sunglasses (50)',
 'UV Protection, Gradient Oval Sunglasses (58)',
 'UV Protection Aviator Sunglasses (55)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Rectangular, Retro Square Sunglasses (58)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'Mirrored Aviator Sunglasses (Free Size)',
 'UV Protection, Gradient Retro Square Sunglasses (Free S...',
 'UV Protection Rectangular Sunglasses (59)',
 'UV Protection, Riding Glasses Aviator Sunglasses (57)',
 'by Lenskart UV Protection Round Sunglasses (58)',
 'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection, Gradient Wayfarer Sunglasses (53)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Gradient Retro Square Sunglasses (58)',
 'UV Protection Retro Square Sunglasses (60)',
 'Night Vision, Riding Glasses Rectangular Sunglasses (60...',
 'UV Protection Aviator Sunglasses (55)',
 'by Lenskart UV Protection Clubmaster Sunglasses (55)',
 'Gradient, Toughened Glass Lens, UV Protection Retro Squ...',
 'Mirrored Aviator Sunglasses (58)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Aviator Sunglasses (58)',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'Polarized, Night Vision, Riding Glasses Sports, Wrap-ar...',
 'Riding Glasses, Night Vision Wrap-around Sunglasses (Fr...',
 'UV Protection Sports Sunglasses (62)',
 'Mirrored Wayfarer Sunglasses (56)',
 'Polarized Wayfarer Sunglasses (Free Size)',
 'Polarized, UV Protection Round Sunglasses (50)',
 'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...',
 'UV Protection, Polarized, Mirrored Wayfarer Sunglasses ...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'by Lenskart Polarized, UV Protection Round Sunglasses (...',
 'Polarized, UV Protection Round Sunglasses (50)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Oval, Aviator Sunglasses (60)']

In [73]:
#to display the next 40 results in the next page
next_page3=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span')
next_page3.click()

In [74]:
Product_description1=[]
#scrapting all the tags having product description
product_tags1=driver.find_elements(By.CLASS_NAME,"IRpwTa")
product_tags1[0:40]
#displaying 40 tags extracted above into text 
for i in product_tags1:
    Product_description1.append(i.text)
Product_description1[0:40]

['Polarized, UV Protection, Mirrored, Gradient Rectangula...',
 'UV Protection Aviator Sunglasses (54)',
 'by Lenskart Polarized, UV Protection Retro Square Sungl...',
 'UV Protection Rectangular Sunglasses (50)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection, Polarized, Mirrored Retro Square Sunglas...',
 'UV Protection Over-sized Sunglasses (65)',
 'by Lenskart UV Protection, Polarized Aviator Sunglasses...',
 'UV Protection Round Sunglasses (53)',
 'UV Protection, Gradient Butterfly Sunglasses (62)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'by Lenskart Polarized, UV Protection Aviator Sunglasses...',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection Wayfarer Sunglasses (32)',
 'UV Protection Shield Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (54)',
 'Riding Glasses, Gradient Aviator Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'Gradient Wayfarer Sunglasses (52)',
 'Gradient Over-sized Sunglasses (62)',
 'UV Protection Wayfarer, Sports, Shield, Rectangular, Re...',
 'Riding Glasses, UV Protection Clubmaster, Wayfarer Sung...',
 'Polarized Rectangular Sunglasses (60)',
 'by Lenskart Polarized, UV Protection Aviator Sunglasses...',
 'Polarized Round Sunglasses (48)',
 'UV Protection Round Sunglasses (Free Size)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'by Lenskart Polarized, UV Protection Aviator Sunglasses...',
 'UV Protection, Mirrored Aviator Sunglasses (Free Size)',
 'UV Protection Cat-eye Sunglasses (Free Size)',
 'UV Protection, Gradient Retro Square Sunglasses (58)',
 'UV Protection Aviator Sunglasses (58)',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'Polarized, UV Protection Wayfarer, Retro Square Sunglas...',
 'UV Protection Wrap-around Sunglasses (25)',
 'UV Protection Rectangular Sunglasses (55)',
 'UV Protection Round Sunglasses (61)',
 'Night Vision, UV Protection Spectacle Sunglasses (50)',
 'by Lenskart Polarized, UV Protection Round Sunglasses (...']

In [75]:
#to display the next 20 results in the next page
next_page4=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]/span')
next_page4.click()

In [77]:
Product_description2=[]
#scrapting all the tags having product description
product_tags2=driver.find_elements(By.CLASS_NAME,"IRpwTa")
product_tags2[0:20]
#displaying 20 tags extracted above into text 
for i in product_tags2:
    Product_description1.append(i.text)
Product_description1[0:20]

['Polarized, UV Protection, Mirrored, Gradient Rectangula...',
 'UV Protection Aviator Sunglasses (54)',
 'by Lenskart Polarized, UV Protection Retro Square Sungl...',
 'UV Protection Rectangular Sunglasses (50)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection, Polarized, Mirrored Retro Square Sunglas...',
 'UV Protection Over-sized Sunglasses (65)',
 'by Lenskart UV Protection, Polarized Aviator Sunglasses...',
 'UV Protection Round Sunglasses (53)',
 'UV Protection, Gradient Butterfly Sunglasses (62)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'by Lenskart Polarized, UV Protection Aviator Sunglasses...',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection Wayfarer Sunglasses (32)',
 'UV Protection Shield Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (54)',
 'Riding Glasses, Gradient Aviator Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'Gradient Wayfarer Sunglasses (52)',
 'Gradient Over-sized Sunglasses (62)']

In [78]:
#scrapting all the tags having price
price_tags=driver.find_elements(By.CLASS_NAME,"_30jeq3")
price_tags[0:40]
#displaying 40 tags extracted above into text 
for i in price_tags:
    price.append(i.text)
price[0:40]

['₹326',
 '₹499',
 '₹359',
 '₹298',
 '₹639',
 '₹279',
 '₹299',
 '₹360',
 '₹267',
 '₹799',
 '₹719',
 '₹1,415',
 '₹639',
 '₹198',
 '₹199',
 '₹999',
 '₹204',
 '₹283',
 '₹349',
 '₹949',
 '₹499',
 '₹1,039',
 '₹216',
 '₹360',
 '₹213',
 '₹288',
 '₹279',
 '₹949',
 '₹799',
 '₹639',
 '₹219',
 '₹569',
 '₹325',
 '₹252',
 '₹199',
 '₹1,049',
 '₹719',
 '₹170',
 '₹369',
 '₹664']

In [79]:
#to display the next 40 results in the next page
Next_page5=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]/span')
Next_page5.click()

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]/span"}
  (Session info: chrome=104.0.5112.81)
Stacktrace:
Backtrace:
	Ordinal0 [0x007178B3+2193587]
	Ordinal0 [0x006B0681+1771137]
	Ordinal0 [0x005C41A8+803240]
	Ordinal0 [0x005F24A0+992416]
	Ordinal0 [0x005F273B+993083]
	Ordinal0 [0x0061F7C2+1177538]
	Ordinal0 [0x0060D7F4+1103860]
	Ordinal0 [0x0061DAE2+1170146]
	Ordinal0 [0x0060D5C6+1103302]
	Ordinal0 [0x005E77E0+948192]
	Ordinal0 [0x005E86E6+952038]
	GetHandleVerifier [0x009C0CB2+2738370]
	GetHandleVerifier [0x009B21B8+2678216]
	GetHandleVerifier [0x007A17AA+512954]
	GetHandleVerifier [0x007A0856+509030]
	Ordinal0 [0x006B743B+1799227]
	Ordinal0 [0x006BBB68+1817448]
	Ordinal0 [0x006BBC55+1817685]
	Ordinal0 [0x006C5230+1856048]
	BaseThreadInitThunk [0x768D6359+25]
	RtlGetAppContainerNamedObjectPath [0x773B87A4+228]
	RtlGetAppContainerNamedObjectPath [0x773B8774+180]

In [80]:
#creating a list
price2=[]
#scrapting all the tags having price in page 2
price_tags2=driver.find_elements(By.CLASS_NAME,"_30jeq3")
price_tags2[0:40]
#displaying 40 tags extracted above into text 
for i in price_tags2:
    price2.append(i.text)
price2[0:40]

['₹326',
 '₹499',
 '₹359',
 '₹298',
 '₹639',
 '₹279',
 '₹299',
 '₹360',
 '₹267',
 '₹799',
 '₹719',
 '₹1,415',
 '₹639',
 '₹198',
 '₹199',
 '₹999',
 '₹204',
 '₹283',
 '₹349',
 '₹949',
 '₹499',
 '₹1,039',
 '₹216',
 '₹360',
 '₹213',
 '₹288',
 '₹279',
 '₹949',
 '₹799',
 '₹639',
 '₹219',
 '₹569',
 '₹325',
 '₹252',
 '₹199',
 '₹1,049',
 '₹719',
 '₹170',
 '₹369',
 '₹664']

In [82]:
#to display the next 20 results in the next page
Next_page6=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span')
Next_page6.click()

In [83]:
#creating a list
price3=[]
#scrapting all the tags having price in page 2
price_tags3=driver.find_elements(By.CLASS_NAME,"_30jeq3")
price_tags2[0:20]
#displaying 20 tags extracted above into text 
for i in price_tags3:
    price3.append(i.text)
price3[0:20]

['₹529',
 '₹279',
 '₹949',
 '₹569',
 '₹359',
 '₹259',
 '₹399',
 '₹949',
 '₹207',
 '₹664',
 '₹639',
 '₹899',
 '₹195',
 '₹279',
 '₹719',
 '₹264',
 '₹230',
 '₹219',
 '₹299',
 '₹899']

In [84]:
print(len(brand_name[0:40]+brand[0:40]+brand_name2[0:20]),len(product_description[0:40]+Product_description1[0:40]+Product_description1[0:20]),len(price[0:40]+price2[0:40]+price3[0:20]))

100 100 100

In [85]:
import pandas as pd
df = pd.DataFrame({'Brand_Name':brand_name[0:40]+brand[0:40]+brand_name2[0:20],'Product_description':product_description[0:40]+Product_description1[0:40]+Product_description1[0:20],'Price':price[0:40]+price2[0:40]+price3[0:20]})
df

     Brand_Name                                Product_description Price
0   SKYZA INDIA             UV Protection Wayfarer Sunglasses (50)  ₹326
1   SKYZA INDIA       UV Protection, Gradient Oval Sunglasses (58)  ₹499
2      Fastrack              UV Protection Aviator Sunglasses (55)  ₹359
3     Elligator       UV Protection Aviator Sunglasses (Free Size)  ₹298
4      Fastrack  UV Protection Rectangular, Retro Square Sungla...  ₹639
..          ...                                                ...   ...
95      Dannilo             UV Protection Wayfarer Sunglasses (54)  ₹264
96       AISLIN  Riding Glasses, Gradient Aviator Sunglasses (F...  ₹230
97    ROYAL SON   UV Protection Rectangular Sunglasses (Free Size)  ₹219
98       GANSTA                  Gradient Wayfarer Sunglasses (52)  ₹299
99       PIRASO                Gradient Over-sized Sunglasses (62)  ₹899

[100 rows x 3 columns]

In [86]:
driver.close()

In [87]:
from selenium.common.exceptions import NoSuchElementException

# Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone.
This task will be done in following steps:
1. First get the webpage https://www.flipkart.com/
2. Enter “iphone 11” in “Search” field . 
3. Then click the search button.

In [88]:
# let's first connect to the web driver
driver = webdriver.Chrome(r"C:\Users\Sunny\Downloads\chromedriver_win32\chromedriver.exe")

In [89]:
url = "https://www.flipkart.com/"
driver.get(url)

In [90]:
# finding element on search bar
search_iphone= driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
search_iphone.send_keys('iphone 11')

In [91]:
# clicking using class function
search = driver.find_element(By.CLASS_NAME,"_34RNph")
search.click()

In [92]:
# clicking the 1st result 
search_iphone11 = driver.find_element(By.CLASS_NAME,"_4rR01T")
search_iphone11.click()

In [93]:
#creating an empty list to display 100 full reviews
full_review=[]

#scrapting all tags having reviews
Review_tags=driver.find_elements(By.CLASS_NAME,'t-ZTKy')
Review_tags[0:100]
#displaying the tags extracted above into text 
for i in Review_tags:
    full_review.append(i.text)
full_review[0:100]

["impressively Nice......\nOne of the greatest iPhone i ever used ....\nAll was like Never before ...\nit's just Amazing ...\nBattery Life is too good ...2 Days wi...\nRead full review",
 'Nice products thanks flkat',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Nice product thank you Flipkart ❤️',
 'Purchased at BBD @2016 Oct. After 5months of use, Found Good/Bad points in it:\nGood Points:\n1. Slim\n2. Handy\n3. No virus problem\n4. No heating ( just during...\nRead full review',
 'I am using the phone for last 5 years and found no cons as such. The camera quality is bit low as compared to other iphone varient but it can be managable. B...\nRead full review']

In [94]:
#creating an empty list to display 100 ratings
ratings=[]

#scrapting all tags having rating
rating_tags=driver.find_elements(By.CLASS_NAME,'_3LWZlK')

#displaying the tags extracted above into text 
for i in rating_tags:
    ratings.append(i.text)
ratings[0:100]

['4.6',
 '4.6',
 '4.6',
 '4.6',
 '4.6',
 '4.6',
 '4.6',
 '4.6',
 '4.6',
 '4.6',
 '4.6',
 '4.6',
 '4.4',
 '4.6',
 '4.7',
 '4.7',
 '4.7',
 '4.4',
 '4.4',
 '4.7',
 '4',
 '5',
 '4.6',
 '5',
 '5',
 '4.4',
 '1',
 '5']

In [95]:
#creating an empty list to display 100 summarys
summary=[]

#scrapting all tags having summary
summary_tags=driver.find_elements(By.CLASS_NAME,'_2-N8zT')

#displaying the tags extracted above into text 
for i in summary_tags:
    summary.append(i.text)
summary[0:100]

['Good quality product',
 'Perfect product!',
 'Simply awesome',
 'Simply awesome',
 'Best phone still @25-27K',
 'Terrific']

In [96]:
print(len(full_review[0:100]),len(ratings[0:100]),len(summary[0:100]))

6 28 6

In [97]:
# DataFrame cannot be created as lengths are not equal

In [98]:
driver.close()

In [99]:
from selenium.common.exceptions import NoSuchElementException

# Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price
4. Discount

In [101]:
# let's first connect to the web driver
driver = webdriver.Chrome(r"C:\Users\Sunny\Downloads\chromedriver_win32\chromedriver.exe")

In [102]:
url = "https://www.flipkart.com"
driver.get(url)

In [103]:
# finding element on search bar
search_sneakers= driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
search_sneakers.send_keys('sneakers')

In [107]:
# clicking using class function
search_sneakers= driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search_sneakers.click()

In [108]:
#creating an empty list to display 100 Brand names
Brand_sneakers=[]

#scrapting all tags having brand names
brand_tags2=driver.find_elements(By.CLASS_NAME,'_2WkVRV')

#displaying the tags extracted above into text 
for i in brand_tags2:
    Brand_sneakers.append(i.text)
Brand_sneakers[0:40]

['RapidBox',
 'ASTEROID',
 'Chevit',
 'KWIK FIT',
 'Magnolia',
 'Deals4you',
 'PUMA',
 'ASTEROID',
 'aadi',
 'Layasa',
 'BRUTON',
 'ASTEROID',
 'PUMA',
 'Xtoon',
 'Shoes Bank',
 'RapidBox',
 'Robbie jones',
 "LEVI'S",
 'Deals4you',
 'Chevit',
 'Robbie jones',
 'PUMA',
 'ASTEROID',
 'Chevit',
 'Labbin',
 "LEVI'S",
 'Layasa',
 'FAUSTO',
 'Layasa',
 'PUMA',
 'Noztile',
 'VEILLE',
 'Magnolia',
 'Layasa',
 'AMICO',
 'FAUSTO',
 'RED TAPE',
 'Layasa',
 'BRUTON',
 'SCHWESCO']

In [109]:
#to display the next 40 results in the next page
Next_page6=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span')
Next_page6.click()

In [110]:
#creating an empty list to display 100 Brand names
Brand_sneakers2=[]

#scrapting all tags having brand names
brand_tags2=driver.find_elements(By.CLASS_NAME,'_2WkVRV')

#displaying the tags extracted above into text 
for i in brand_tags2:
    Brand_sneakers2.append(i.text)
Brand_sneakers2[0:40]

['LuvShus',
 'Sparx',
 'X Xiota',
 'Kraasa',
 'Layasa',
 'Chevit',
 'BRUTON',
 'aadi',
 'ASTEROID',
 'Vellinto',
 'BRUTON',
 'PROVOGUE',
 'ADIDAS',
 'Numenzo',
 'PUMA',
 'ONECENTRE',
 'Roadster',
 'Chevit',
 'Magnolia',
 "LEVI'S",
 'SCATCHITE',
 'Sparx',
 'asics',
 'BRUTON',
 'Robbie jones',
 'HOTSTYLE',
 'PUMA',
 'Xtoon',
 'ROCKFIELD',
 'Kzaara',
 'BIRDE',
 'Labbin',
 'URBANBOX',
 'Chevit',
 'Rzisbo',
 'TR',
 'Sparx',
 'PUMA',
 'PREKANZO',
 'PUMA']

In [112]:
#to display the next 20 results in the next page
Next_page7=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]/span')
Next_page7.click()

In [113]:
#creating an empty list to display 100 Brand names
Brand_sneakers3=[]

#scrapting all tags having brand names
brand_tags2=driver.find_elements(By.CLASS_NAME,'_2WkVRV')

#displaying the tags extracted above into text 
for i in brand_tags2:
    Brand_sneakers3.append(i.text)
Brand_sneakers3[0:20]

['Layasa',
 'Vans on',
 'Kraasa',
 'asics',
 'VENDOZ',
 'HIGHLANDER',
 'Robbie jones',
 'Chevit',
 'D-SNEAKERZ',
 'Airland',
 'Kraasa',
 'PUMA',
 'Shozie',
 'BRUTON',
 'ADIDAS ORIGINALS',
 'ADIDAS',
 'Shozie',
 'Sparx',
 'TWIN TOES',
 'HOTSTYLE']

In [128]:
#creating an empty list to display 100 brand's product description
Product_Description = []

#scrapting all 40 tags having product descriptions
p_dtags= driver.find_elements(By.CLASS_NAME,"IRpwTa")

#displaying tags into texts
for i in p_dtags:
    Product_Description.append(i.text)
Product_Description[0:40]

['Sneakers For Men',
 "BigBoss Men's Premium Original Luxury Branded Full Blac...",
 'Super Stylish & Trendy Combo Pack of 02 Pairs Sneakers ...',
 'Kwik FIT casual sneaker shoes and partywear shoes Casua...',
 'Sneakers For Men',
 'Sneakers For Women',
 'Puma Smash Wns v2 L Sneakers For Women',
 "Men's Premium Ankle Boot Sneakers Partywear Casual Coup...",
 'Mesh | Ultralightweight | Comfortable | Breathable Walk...',
 'supr Sneakers For Men',
 'Sneaker Sneakers For Men',
 "BigBoss Men's Premium Original Luxury Branded Black Fan...",
 'Puma Smash v2 L Sneakers For Men',
 'Modern Trendy Sneakers boot Sneakers For Men',
 "White Sneaker For Men's/Boy's Sneakers For Men",
 'Sneakers For Men',
 'Casual Sneakers Canvas Shoes For Men Sneakers For Men',
 "Levi's Men's Lancer Sneakers Sneakers For Men",
 'Sneakers For Women',
 'Combo Pack of 3 Casual & Sports Shoes (Sneakers & Runni...',
 'Casual Sneakers Black Outdoor Shoes For Boys And Men Sn...',
 'Smash Wns v2 L Sneakers For Women',
 "Luxury Branded Fashionable Men's Casual Walking Partywe...",
 'Combo Pack of 4 Casual & Sports Shoes (Loafers Shoes) S...',
 'Sneakers For Men',
 "Levi's Men's Henry Sneakers Sneakers For Men",
 'supr Sneakers For Men',
 'Low Top Classic Casual Shoes Sneakers For Men',
 'Sneakers For Women',
 'Puma Rebound LayUp SL Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Women',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Trendy Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Lattest Sneakers Shoe Sneakers For Men',
 'Dark color party shoes Sneakers For Men']

In [129]:
#to display the next 40 results in the next page
Next_page8=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span')
Next_page8.click()

In [130]:
#creating an empty list to display 100 brand's product description
Product_Description1= []

#scrapting all 40 tags having product descriptions
p_dtags1= driver.find_elements(By.CLASS_NAME,"IRpwTa")

#displaying tags into texts
for i in p_dtags1:
    Product_Description1.append(i.text)
Product_Description1[0:40]

['Men Casual Shoe New Trend With Fashion Panda Desgined L...',
 'Men White Sneakers Sneakers For Men',
 "Best Elegant Woman's Casual Sneakers New Series And Coz...",
 'Series 7 Sneakers For Men',
 'Sneakers For Women',
 'Sneakers For Men',
 'Modern Trendy Sneakers Shoes Sneakers For Men',
 'Sneakers For Men',
 'Original Luxury Branded Black Fancy Casual Walking Part...',
 'Casual Sneakrs For Men Sneakers For Men',
 'Exclusive Sneaker Shoes Sneakers For Men',
 'Sneakers For Men',
 'STREET ICON M Sneakers For Men',
 '411 Casual Sneakers For Men',
 'Puma Smash v2 Sneakers For Men',
 'STR2 Sneakers For Men',
 'Sneakers For Men',
 "Latest Women's Pack of 2 Stylish Slip-On Loafers, Lace-...",
 'White Sneakers Sneakers For Men',
 "Levi's Men's Lancer Sneakers Sneakers For Men",
 'Sneakers Sneakers For Men',
 'SM-747 Sneakers For Men',
 'LYTECOURT Sneakers For Men',
 'Combo Pack of 2 Sports Running LightWeight Shoes, Sneak...',
 'Sneakers For Men',
 'CR-1 Sneakers For Men',
 'Glory Sneakers For Men',
 "White casual, gym,training & Running sneakers for men's...",
 'Sneakers For Men',
 'Sneakers For Men',
 'Stylish Comfortable Lightweight, Breathable Walking Sho...',
 'Casual Sneaker White Shoes For Men And Boys Sneakers Fo...',
 'STYLISH-WHITE-6 Sneakers For Men',
 'Perfect & Affordable Combo Pack of 02 Pairs Sneakers Ou...',
 'Sneakers For Men',
 'Sneakers For Men',
 'SM-439 Sneakers For Men',
 'Caracal Sneakers For Men',
 'Sneakers For Women',
 'Puma Smash v2 Sneakers For Men']

In [131]:
#to display the next 40 results in the next page
Next_page9=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]/span')
Next_page9.click()

In [132]:
#creating an empty list to display 100 brand's product description
Product_Description2= []

#scrapting all 20 tags having product descriptions
p_dtags2= driver.find_elements(By.CLASS_NAME,"IRpwTa")

#displaying tags into texts
for i in p_dtags2:
    Product_Description2.append(i.text)
Product_Description2[0:20]

['Stylish Casual Sports Shoe Sneakers For Women',
 'Old Skool Black & White Casual Sneakers For Women',
 'Shark-41 Sneakers For Men',
 'fuzor B Sneakers For Men',
 'Casual Stylish Trending Sneakers For Women',
 'Sneakers For Men',
 'Sneakers For Men',
 "Men's Combo Pack of 02 Shoes for Men Casual Sneakers Ou...",
 "Casual , Partywear Sneakers Shoes For Men's And Boys Wh...",
 'Sneakers Shoes For Men Black Sneakers For Men',
 'Casuals, Canvas, Partywear Sneakers For Men',
 'Rose Metallic Pop Sneakers For Women',
 'Stylish Walking Partywear Sneakers Casual Shoes Sneaker...',
 'Modern Trendy Sneakers Shoes Sneakers For Men',
 'FORUM EXHIBIT LOW Sneakers For Men',
 'STREET ICON M Sneakers For Men',
 'Sneakers For Women',
 'Sneakers For Men',
 'Girls Stylish & Comfortable | Casual | Party Wear Sneak...',
 'Sneakers For Men']

In [133]:
#creating an empty list to display 100 brand's price
Price= []

#scrapting all 40 tags having product descriptions
price_tags= driver.find_elements(By.CLASS_NAME,"_30jeq3")

#displaying tags into texts
for i in price_tags:
    Price.append(i.text)
Price[0:40]

['₹630',
 '₹569',
 '₹544',
 '₹397',
 '₹424',
 '₹479',
 '₹1,437',
 '₹664',
 '₹399',
 '₹199',
 '₹319',
 '₹569',
 '₹2,144',
 '₹499',
 '₹297',
 '₹630',
 '₹529',
 '₹1,759',
 '₹394',
 '₹799',
 '₹599',
 '₹1,873',
 '₹499',
 '₹845',
 '₹499',
 '₹1,539',
 '₹228',
 '₹1,424',
 '₹499',
 '₹2,792',
 '₹399',
 '₹499',
 '₹424',
 '₹398',
 '₹549',
 '₹854',
 '₹1,559',
 '₹479',
 '₹299',
 '₹1,600']

In [134]:
#to display the next 40 results in the next page
Next_page10=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span')
Next_page10.click()

In [135]:
#creating an empty list to display 100 brand's price
Price1= []

#scrapting all 40 tags having product descriptions
price_tags1= driver.find_elements(By.CLASS_NAME,"_30jeq3")

#displaying tags into texts
for i in price_tags1:
    Price1.append(i.text)
Price1[0:40]

['₹410',
 '₹707',
 '₹499',
 '₹479',
 '₹498',
 '₹239',
 '₹399',
 '₹351',
 '₹499',
 '₹499',
 '₹423',
 '₹759',
 '₹2,335',
 '₹549',
 '₹2,279',
 '₹299',
 '₹959',
 '₹327',
 '₹449',
 '₹1,759',
 '₹351',
 '₹899',
 '₹2,555',
 '₹672',
 '₹529',
 '₹299',
 '₹1,940',
 '₹499',
 '₹699',
 '₹259',
 '₹397',
 '₹402',
 '₹179',
 '₹499',
 '₹458',
 '₹499',
 '₹807',
 '₹2,911',
 '₹399',
 '₹2,312']

In [136]:
#to display the next 40 results in the next page
Next_page11=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]/span')
Next_page11.click()

In [137]:
#creating an empty list to display 100 brand's price
Price2= []

#scrapting all 20 tags having product descriptions
price_tags2= driver.find_elements(By.CLASS_NAME,"_30jeq3")

#displaying tags into texts
for i in price_tags2:
    Price2.append(i.text)
Price2[0:20]

['₹599',
 '₹1,890',
 '₹530',
 '₹2,049',
 '₹684',
 '₹995',
 '₹529',
 '₹599',
 '₹296',
 '₹215',
 '₹479',
 '₹1,799',
 '₹559',
 '₹666',
 '₹8,599',
 '₹2,184',
 '₹399',
 '₹756',
 '₹398',
 '₹299']

In [138]:
#creating an empty list to display 100 brand's discount %
Discount= []

#scrapting all 40 tags having product descriptions
discount_tags= driver.find_elements(By.CLASS_NAME,"_3Ay6Sb")

#displaying tags into texts
for i in discount_tags:
    Discount.append(i.text)
Discount[0:40]

['21% off',
 '71% off',
 '71% off',
 '80% off',
 '57% off',
 '68% off',
 '58% off',
 '86% off',
 '80% off',
 '80% off',
 '75% off',
 '71% off',
 '38% off',
 '66% off',
 '70% off',
 '36% off',
 '47% off',
 '45% off',
 '60% off',
 '46% off',
 '40% off',
 '46% off',
 '75% off',
 '57% off',
 '50% off',
 '45% off',
 '77% off',
 '52% off',
 '50% off',
 '44% off',
 '80% off',
 '70% off',
 '57% off',
 '60% off',
 '45% off',
 '5% off',
 '70% off',
 '52% off',
 '76% off',
 '83% off']

In [139]:
#to display the next 40 results in the next page
Next_page12=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span')
Next_page12.click()

In [140]:
#creating an empty list to display 100 brand's discount %
Discount1= []

#scrapting all 40 tags having product descriptions
discount_tags1= driver.find_elements(By.CLASS_NAME,"_3Ay6Sb")

#displaying tags into texts
for i in discount_tags1:
    Discount1.append(i.text)
Discount1[0:40]

['58% off',
 '15% off',
 '58% off',
 '52% off',
 '50% off',
 '70% off',
 '69% off',
 '64% off',
 '50% off',
 '61% off',
 '67% off',
 '62% off',
 '35% off',
 '45% off',
 '54% off',
 '50% off',
 '70% off',
 '79% off',
 '55% off',
 '45% off',
 '64% off',
 '43% off',
 '83% off',
 '47% off',
 '40% off',
 '35% off',
 '50% off',
 '53% off',
 '74% off',
 '60% off',
 '59% off',
 '64% off',
 '72% off',
 '54% off',
 '50% off',
 '4% off',
 '41% off',
 '60% off',
 '53% off',
 '46% off']

In [141]:
#to display the next 40 results in the next page
Next_page13=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]/span')
Next_page13.click()

In [142]:
#creating an empty list to display 100 brand's discount %
Discount2= []

#scrapting all 20 tags having product descriptions
discount_tags2= driver.find_elements(By.CLASS_NAME,"_3Ay6Sb")

#displaying tags into texts
for i in discount_tags2:
    Discount2.append(i.text)
Discount2[0:20]

['40% off',
 '52% off',
 '46% off',
 '46% off',
 '31% off',
 '50% off',
 '47% off',
 '66% off',
 '55% off',
 '56% off',
 '52% off',
 '60% off',
 '44% off',
 '48% off',
 '39% off',
 '60% off',
 '15% off',
 '66% off',
 '40% off',
 '57% off']

In [143]:
print(len(Brand_sneakers[0:40]+Brand_sneakers2[0:40]+Brand_sneakers3[0:20]),len(Product_Description[0:40]+Product_Description1[0:40]+Product_Description2[0:20]),len(Price[0:40]+Price1[0:40]+Price2[0:20]),len(Discount[0:40]+Discount1[0:40]+Discount2[0:20]))

100 100 100 100

In [144]:
import pandas as pd
df = pd.DataFrame({'Brand name':Brand_sneakers[0:40]+Brand_sneakers2[0:40]+Brand_sneakers3[0:20],'Product Description':Product_Description[0:40]+Product_Description1[0:40]+Product_Description2[0:20],'Price':Price[0:40]+Price1[0:40]+Price2[0:20],'Discounts':Discount[0:40]+Discount1[0:40]+Discount2[0:20]})
df

,Brand name,Product Description,Price,Discounts
0,RapidBox,Sneakers For Men,₹630,21% off
1,ASTEROID,BigBoss Men's Premium Original Luxury Branded ...,₹569,71% off
2,Chevit,Super Stylish & Trendy Combo Pack of 02 Pairs ...,₹544,71% off
3,KWIK FIT,Kwik FIT casual sneaker shoes and partywear sh...,₹397,80% off
4,Magnolia,Sneakers For Men,₹424,57% off
...,...,...,...,...
95,ADIDAS,STREET ICON M Sneakers For Men,"₹2,184",60% off
96,Shozie,Sneakers For Women,₹399,15% off
97,Sparx,Sneakers For Men,₹756,66% off
98,TWIN TOES,Girls Stylish & Comfortable | Casual | Party W...,₹398,40% off
99,HOTSTYLE,Sneakers For Men,₹299,57% off

In [145]:
driver.close()

In [146]:
from selenium.common.exceptions import NoSuchElementException

# Q7: Go to the link - https://www.myntra.com/shoes
Set second Price filter and Color filter to “Black”, as shown in the below image.
And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe 
description, price of the shoe as shown in the below image.

In [152]:
# let's first connect to the web driver
driver = webdriver.Chrome(r"C:\Users\Sunny\Downloads\chromedriver_win32\chromedriver.exe")

In [153]:
url = 'https://www.myntra.com/shoes'
driver.get(url)

In [154]:
#finding the element to search for shoes
search_feild_product_name=driver.find_element(By.CLASS_NAME,'desktop-searchBar')
search_feild_product_name.send_keys('Shoes')

In [155]:
#to display the results for shoes in myntra
Next_page=driver.find_element(By.XPATH,'/html/body/div[1]/div/div/header/div[2]/div[3]/a')
Next_page.click()

In [160]:
#setting filters to display in a specific price range
price_filter=driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label')
price_filter.click()

In [159]:
#setting filters to display black cloured shoes 
color_filter=driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label')
color_filter.click()

In [162]:
#creating an empty list to scrap all brand names
Brand_names1=[]
#scrapting all the tags brand names
brand_tags=driver.find_elements(By.CLASS_NAME,"product-brand")

#displaying tags extracted above into text 
for i in brand_tags:
    Brand_names1.append(i.text)
Brand_names1

['Nike',
 'Skechers',
 'Nike',
 'ADIDAS Originals',
 'Nike',
 'ADIDAS Originals',
 'Nike',
 'Hush Puppies',
 'ADIDAS',
 'Tommy Hilfiger',
 'Puma',
 'ROSSO BRUNELLO',
 'Puma',
 'Puma',
 'UNDER ARMOUR',
 'Skechers',
 'Skechers',
 'ASICS',
 'Nike',
 'Tommy Hilfiger',
 'Skechers',
 'Puma',
 'Hush Puppies',
 'Nike',
 'Nike',
 'ADIDAS',
 'Nike',
 'Nike',
 'ADIDAS',
 'ADIDAS',
 'Skechers',
 'Nike',
 'Puma',
 'Puma',
 'Puma',
 'PUMA Hoops',
 'ROSSO BRUNELLO',
 'UNDER ARMOUR',
 'ADIDAS',
 'Puma',
 'UNDER ARMOUR',
 'Geox',
 'ADIDAS',
 'ADIDAS Originals',
 'ADIDAS Originals',
 'Puma',
 'ASICS',
 'Nike',
 'Puma',
 'Clarks']

In [166]:
#creating an empty list to scrap all prices
Brand_price=[]
#scrapting all the tags brand prices
price=driver.find_elements(By.CLASS_NAME,"product-price")

#displaying tags extracted into text
for i in price:
    Brand_price.append(i.text)
Brand_price

['Rs. 7465Rs. 8295(10% OFF)',
 'Rs. 7199Rs. 8999(20% OFF)',
 'Rs. 9715Rs. 10795(10% OFF)',
 'Rs. 8599',
 'Rs. 7050Rs. 8295(15% OFF)',
 'Rs. 10999',
 'Rs. 11895Rs. 13995(15% OFF)',
 'Rs. 7649Rs. 8999(15% OFF)',
 'Rs. 6719Rs. 13999(52% OFF)',
 'Rs. 8099Rs. 8999(10% OFF)',
 'Rs. 9749Rs. 12999(25% OFF)',
 'Rs. 12999',
 'Rs. 7199Rs. 11999(40% OFF)',
 'Rs. 9999',
 'Rs. 10999',
 'Rs. 7124Rs. 9499(25% OFF)',
 'Rs. 7199Rs. 8999(20% OFF)',
 'Rs. 7999Rs. 9999(20% OFF)',
 'Rs. 7915Rs. 8795(10% OFF)',
 'Rs. 6799Rs. 7999(15% OFF)',
 'Rs. 7124Rs. 9499(25% OFF)',
 'Rs. 6749Rs. 8999(25% OFF)',
 'Rs. 7499',
 'Rs. 8499Rs. 9999(15% OFF)',
 'Rs. 11515Rs. 12795(10% OFF)',
 'Rs. 7465Rs. 8295(10% OFF)',
 'Rs. 7999',
 'Rs. 8005Rs. 8895(10% OFF)',
 'Rs. 9445Rs. 10495(10% OFF)',
 'Rs. 9999',
 'Rs. 11999Rs. 14999(20% OFF)',
 'Rs. 7499',
 'Rs. 7465Rs. 8295(10% OFF)',
 'Rs. 12999',
 'Rs. 7999Rs. 9999(20% OFF)',
 'Rs. 6999',
 'Rs. 8249Rs. 10999(25% OFF)',
 'Rs. 8999',
 'Rs. 9999',
 'Rs. 9999',
 'Rs. 10999',
 'Rs. 6999',
 'Rs. 12990',
 'Rs. 9999',
 'Rs. 11999',
 'Rs. 11049Rs. 12999(15% OFF)',
 'Rs. 7499',
 'Rs. 8399Rs. 13999(40% OFF)',
 'Rs. 7465Rs. 8295(10% OFF)',
 'Rs. 7199Rs. 8999(20% OFF)']

In [167]:
#creating an empty list to scrap all summaries
product_desc=[]
#scrapting all the tags having product summary
prodtags=driver.find_elements(By.CLASS_NAME,"product-product")
#displaying 50 tags extracted into text
for i in prodtags:
    product_desc.append(i.text)
product_desc

['Men ZOOM WINFLO8 Running Shoes',
 'Men Max Cushioning Running',
 'Men Colourblocked Sneakers',
 'Men Forum Exhibit Low',
 'Women WINFLO 8 Running Shoes',
 'Men Niteball II Sneakers',
 'Men React Infinity 3 Running',
 'Men Solid Leather Formal Slip-Ons',
 'Women X9000 H.RDY Running',
 'Men Solid Sneakers',
 'Eternity Nitro Running Shoes',
 'Men Printed Leather Monks',
 'Men KING Top Football Shoes',
 'Women Liberate NITRO Running',
 'Unisex Curry Basketball Shoes',
 'Men MAX CUSHIONING ELITE-LUCID',
 'Men Max Cushioning Running',
 'Men GEL-CUMULUS 23 MK Running',
 'Air Max Axis Sneakers',
 'Men Sneakers',
 'Men ENIGMA Running Shoes',
 'Unisex Wild Rider Sneakers',
 'Men GO FLEX 2-COMPLETION Shoes',
 'Men Solid Leather Formal Slip-Ons',
 'Men JORDAN LOW Basketball Shoe',
 'Unisex Lebron V Basketball',
 'Women Eastrail 2 Hiking Shoes',
 'Men SRG 3 FK Training Shoes',
 'Men REACT MILER 3 Running Shoe',
 'Men Defiant Generation Tennis',
 'Men Solar Glide 4 ST Running',
 'Men Go Flex 2 Walking Shoes',
 'Women Running Shoes',
 'Men M Nitro Running Shoess',
 'Women Run XX Nitro Running',
 'Women Enlighten Shoes',
 'Fives Blaze Court Basketball',
 'Men Leather Loafers',
 'Men HOVR Sonic SE Running Shoe',
 'Women Supernova Running Shoes',
 'Men Velocity Nitro 2 Running',
 'Men Lockdown 5 Basketball',
 'Women Solid Boots',
 'Men Supernova 2 Running Shoes',
 'Men Solid Oznova Sneakers',
 'Men Ozrah Leather Sneakers',
 'Unisex Cell D Running Shoes',
 'Men GEL-Quantum 360 6 Sports',
 'Men Air Max Sneakers',
 'Men Reverse Classics Sneakers']

In [168]:
#to display the results for shoes details in the next page
Next_page=driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[12]/a')
Next_page.click()

In [169]:
#creating an empty list to scrap all brand names in page 2
Brand_names2=[]
#scrapting all the tags brand names in page 2
brndtags2=driver.find_elements(By.CLASS_NAME,"product-brand")

#displaying tags extracted above into text 
for i in brndtags2:
    Brand_names2.append(i.text)
Brand_names2

['Puma',
 'Clarks',
 'Hush Puppies',
 'ADIDAS Originals',
 'ADIDAS',
 'Puma',
 'ROSSO BRUNELLO',
 'Puma',
 'Puma',
 'Puma',
 'ROSSO BRUNELLO',
 'FORCLAZ By Decathlon',
 'UNDER ARMOUR',
 'Puma',
 'Louis Philippe',
 'Columbia',
 'ADIDAS',
 'Puma',
 'J.FONTINI',
 'Nike',
 'ROSSO BRUNELLO',
 'Puma',
 'TOMS',
 'Puma',
 'Hush Puppies',
 'Xtep',
 'PUMA Hoops',
 'Skechers',
 'Nike',
 'Geox',
 'ROSSO BRUNELLO',
 'ADIDAS',
 'Bugatti',
 'ADIDAS Originals',
 'ADIDAS Originals',
 'UNDER ARMOUR',
 'Saint G',
 'Tommy Hilfiger',
 'Geox',
 'Clarks',
 'Tommy Hilfiger',
 'ROSSO BRUNELLO',
 'ALDO',
 'J.FONTINI',
 'ALDO',
 'ALDO',
 'Columbia',
 'Columbia',
 'Bugatti',
 'ADIDAS']

In [170]:
#creating an empty list to scrap all prices
Brand_price2=[]
#scrapting all the tags brand prices
price2=driver.find_elements(By.CLASS_NAME,"product-price")

#displaying tags extracted into text
for i in price2:
    Brand_price2.append(i.text)
Brand_price2

['Rs. 7199Rs. 8999(20% OFF)',
 'Rs. 7899Rs. 9999(21% OFF)',
 'Rs. 7999',
 'Rs. 9999',
 'Rs. 10199Rs. 11999(15% OFF)',
 'Rs. 12999',
 'Rs. 11499',
 'Rs. 9749Rs. 12999(25% OFF)',
 'Rs. 7199Rs. 8999(20% OFF)',
 'Rs. 7199Rs. 8999(20% OFF)',
 'Rs. 11999',
 'Rs. 6999',
 'Rs. 8399Rs. 11999(30% OFF)',
 'Rs. 8999Rs. 9999(10% OFF)',
 'Rs. 9999',
 'Rs. 12999',
 'Rs. 12999',
 'Rs. 11999',
 'Rs. 7990',
 'Rs. 8725Rs. 9695(10% OFF)',
 'Rs. 11999',
 'Rs. 9599Rs. 11999(20% OFF)',
 'Rs. 7199Rs. 7999(10% OFF)',
 'Rs. 8799Rs. 10999(20% OFF)',
 'Rs. 7999Rs. 9999(20% OFF)',
 'Rs. 8599',
 'Rs. 8249Rs. 10999(25% OFF)',
 'Rs. 7999',
 'Rs. 9770Rs. 11495(15% OFF)',
 'Rs. 11990',
 'Rs. 8799Rs. 10999(20% OFF)',
 'Rs. 10199Rs. 11999(15% OFF)',
 'Rs. 9999',
 'Rs. 11899Rs. 13999(15% OFF)',
 'Rs. 10999',
 'Rs. 7999',
 'Rs. 9975Rs. 10500(5% OFF)',
 'Rs. 6799Rs. 7999(15% OFF)',
 'Rs. 10990',
 'Rs. 7499',
 'Rs. 7199Rs. 7999(10% OFF)',
 'Rs. 11999',
 'Rs. 8999',
 'Rs. 7490',
 'Rs. 7999',
 'Rs. 6999',
 'Rs. 7999',
 'Rs. 9999',
 'Rs. 8499',
 'Rs. 11999']

In [171]:
#creating an empty list to scrap all summaries
product_desc2=[]
#scrapting all the tags having product summary
prodtags2=driver.find_elements(By.CLASS_NAME,"product-product")
#displaying 50 tags extracted into text
for i in prodtags2:
    product_desc2.append(i.text)
product_desc2

['Men Reverse Classics Sneakers',
 'Men Leather Slip-Ons',
 'Men Perforations Leather Slip-On Sneakers',
 'Men Retropy F90 Sneakers',
 'Men Adizero Adios 7 Running',
 'Women Magnify Nitro Running',
 'Men Textured Leather Loafers',
 'Women Eternity NITRO Shoes',
 'Unisex Accelerate Badminton',
 'Unisex Eliminate Pro II Shoes',
 'Men Textured Leather Loafers',
 'Men Hiking Shoes',
 'W omen TriBase Reign 4 Running',
 'Unisex KING Pro 21 Football',
 'Men Textured Leather Loafers',
 'Men FACET OUTDRY Trekking Shoe',
 'Men Dropset Training Shoes',
 'Men Football Shoes',
 'Men Textured Leather Loafers',
 'Men FREE RUN 2 Sneakers',
 'Men Solid Leather Formal Loafers',
 'Men Nitro 2 WIDE Running Shoes',
 'Men Alpargata Slip-On Sneakers',
 'Men Fast-Trac Nitro Running',
 'Men Solid Formal Slip-Ons',
 'Men Skateboarding Shoes',
 'Men TRC Blaze Basketball Shoes',
 'Men Textured Sneakers',
 'Women React Escape Running',
 'Men Lightweight Sneakers',
 'Men Solid Leather Formal Derbys',
 'Women Adizero Adios 7 Run Shoe',
 'Men Solid Leather Formal Derbys',
 'Men Woven NMD_31 Sneakers',
 'Men Ozweego Sneakers',
 'Women Charged Vantage 2 Run',
 'Leather High Ankle Boots',
 'Women Leather Kitten Sandals',
 'Women Leather Slip-On Sneakers',
 'Men Leather Derbys',
 'Women Solid Sneakers',
 'Men Solid Formal Slip-On Shoes',
 'Women Open Toe Flats',
 'Men Formal Shoes',
 'Women T-Strap Flats',
 'Women T-Strap Flats',
 'Women REDMOND V2 TrekkingShoe',
 'PEAKFREAK OUTDRY Trekking Shoe',
 'Men Solid Leather Formal Monk Shoes',
 'Women SL20.3 Running Shoes']

In [172]:
print(len(Brand_names1+Brand_names2),len(Brand_price+Brand_price2),len(product_desc+product_desc2))

100 100 100

In [173]:
import pandas as pd
shoes = pd.DataFrame({'Brand_name':Brand_names1+Brand_names2,'Price':Brand_price+Brand_price2,'Product summary & description':product_desc+product_desc2})
shoes

,Brand_name,Price,Product summary & description
0,Nike,Rs. 7465Rs. 8295(10% OFF),Men ZOOM WINFLO8 Running Shoes
1,Skechers,Rs. 7199Rs. 8999(20% OFF),Men Max Cushioning Running
2,Nike,Rs. 9715Rs. 10795(10% OFF),Men Colourblocked Sneakers
3,ADIDAS Originals,Rs. 8599,Men Forum Exhibit Low
4,Nike,Rs. 7050Rs. 8295(15% OFF),Women WINFLO 8 Running Shoes
...,...,...,...
95,ALDO,Rs. 6999,Women T-Strap Flats
96,Columbia,Rs. 7999,Women REDMOND V2 TrekkingShoe
97,Columbia,Rs. 9999,PEAKFREAK OUTDRY Trekking Shoe
98,Bugatti,Rs. 8499,Men Solid Leather Formal Monk Shoes
99,ADIDAS,Rs. 11999,Women SL20.3 Running Shoes

In [174]:
driver.close()

In [192]:
from selenium.common.exceptions import NoSuchElementException

# Q8: Go to webpage https://www.amazon.in/ ,Enter “Laptop” in the search field and then click the search icon, Then set CPU Type filter to “Intel Core i7” as shown in the below image:
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
1. Title
2. Ratings
3. Price

In [67]:
# let's first connect to the web driver
driver = webdriver.Chrome(r"C:\Users\Sunny\Downloads\chromedriver_win32\chromedriver.exe")

In [68]:
url = 'https://www.amazon.in/'
driver.get(url)

In [69]:
#finding the element to search for laptops
search_product_name=driver.find_element(By.CLASS_NAME,'nav-input')
search_product_name.send_keys('Laptops')

In [70]:
#to display the results for laptops in amazon
Page=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
Page.click()

In [71]:
#setting filters to display filters of intel i7
filter1=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[4]/li[13]/span/a/span')
filter1.click()

In [72]:
#creating an empty list to scrap all title names
title1=[]
#scrapting all the tags brand names
lap=driver.find_elements(By.CLASS_NAME,"a-size-mini")

#displaying 10 tags extracted above into text 
for i in lap:
    title1.append(i.text)
title1[0:10]

['LG Gram Intel Evo 11th Gen Core i7 17"(43cm)Ultra-Light Laptop (16 GB RAM, 512 GB SSD, New Windows 11 Home Preload, Iris Xe Graphics, USC -C x 2 (with Power), 1.35 kg, 17Z90P-G.AH85A2, Black)',
 'Fujitsu UH-X 11th Gen Intel Core i7 13.3” FHD IPS 400Nits Thin & Light Laptop(16GB/512GB SSD/Windows 11/Office 2021/Iris Xe Graphics/Backlit Kb/Fingerprint Reader/2Yr Warranty/Black/878gms),4ZR1F38024',
 'Lenovo Ideapad Gaming 3 Intel Core i7 10th Gen 15.6"(39.62cm) FHD IPS Gaming Laptop (8GB/512GB SSD/4GB NVIDIA GTX 1650/120Hz/Windows 11/Backlit Keyboard/3months Game Pass/Onyx Black/2.2Kg), 81Y401BHIN',
 'Acer Nitro 5 Gaming Laptop/12th Gen Intel Core i7-12700H Processor 14core/15.6"(39.6cm) FHD 144Hz Display(16GB/512GB SSD/1TB HDD/RTX 3050Ti Graphics/Windows 11/RGB),AN515-58 + Xbox Game Pass Ultimate',
 '₹1,04,990\n₹1,23,999',
 'Hp Pavilion X360 11Th Gen Intel Core I7 14 Inches Fhd Multitouch 2In1 Laptop (16Gb Ram/512Gb Ssd/B&O/Windows 11 Home/Fpr/Backlit Kb/Intel Iris Xe Graphics/Pen/Alexa/Ms Office/Silver/1.52Kg)14-Dy1047Tu',
 'HP Pavilion 14 12th Gen Intel Core i7 16GB SDRAM/1TB SSD 14 inch(35.6cm) FHD,IPS,Micro-Edge Display/Intel UHD Graphics/B&O/Win 11/Alexa Built-in/Backlit KB/FPR/MSO 2021/Natural Silver, 14-dv2015TU',
 'Lenovo ThinkBook 15 Intel 11th Gen Core i7 15.6"(39.62 cm)FHD Thin and Light Laptop (16GB/512GB SSD/Windows 11 Home/MS Office H&S 2021/Iris® Xe Graphics/Backlit/Mineral Grey/1.7 Kg) 20VE00W4IH',
 'ASUS TUF Gaming F15 (2022), 15.6-inch (39.62 cms) FHD 144Hz, Intel Core i7-12700H 12th Gen, RTX 3050 Ti 4GB Graphics, Gaming Laptop (16GB/512GB SSD/Windows 11/Gray/2.2 Kg), FX507ZE-HN038W',
 'ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, Intel Core i7-1065G7 10th Gen, Thin and Light Laptop (16GB/512GB SSD/Iris Plus Graphics/Windows 11/Office 2021/Silver/1.8 kg), X515JA-EJ701WS']

In [73]:
#creating an empty list to scrap all prices for laptops
price_laptop=[]
#scrapting all the tags brand names
lap_price=driver.find_elements(By.CLASS_NAME,"a-price-whole")

#displaying 10 tags extracted above into text 
for i in lap_price:
    price_laptop.append(i.text)
price_laptop[0:10]

['94,999',
 '84,990',
 '62,990',
 '1,04,990',
 '82,400',
 '87,990',
 '81,900',
 '1,09,990',
 '57,990',
 '94,990']

In [75]:
import pandas as pd
df = pd.DataFrame({'Laptop name':title1[0:10],'Price':price_laptop[0:10]})
df

                                         Laptop name     Price
0  LG Gram Intel Evo 11th Gen Core i7 17"(43cm)Ul...    94,999
1  Fujitsu UH-X 11th Gen Intel Core i7 13.3” FHD ...    84,990
2  Lenovo Ideapad Gaming 3 Intel Core i7 10th Gen...    62,990
3  Acer Nitro 5 Gaming Laptop/12th Gen Intel Core...  1,04,990
4                               ₹1,04,990\n₹1,23,999    82,400
5  Hp Pavilion X360 11Th Gen Intel Core I7 14 Inc...    87,990
6  HP Pavilion 14 12th Gen Intel Core i7 16GB SDR...    81,900
7  Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....  1,09,990
8  ASUS TUF Gaming F15 (2022), 15.6-inch (39.62 c...    57,990
9  ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, I...    94,990

In [76]:
driver.close()

In [77]:
from selenium.common.exceptions import NoSuchElementException

# Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida location. You have to scrape company name, No. of days ago when job was posted, Rating of the company. 
This task will be done in following steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the Job option as shown in the image
3. After reaching to the next webpage, In place of “Search by Designations, Companies, Skills” enter
“Data Scientist” and click on search button.
4. You will reach to the following web page click on location and in place of “Search location” enter
“Noida” and select location “Noida”.
5. Then scrape the data for the first 10 jobs results you get on the above shown page.
6. Finally create a dataframe of the scraped data.

In [51]:
# let's first connect to the web driver
driver = webdriver.Chrome(r"C:\Users\Sunny\Downloads\chromedriver_win32\chromedriver.exe")

In [52]:
url = 'https://www.ambitionbox.com/'
driver.get(url)

In [53]:
# Clicking on the Job option
search_jobspage = driver.find_element(By.XPATH,"/html/body/div[1]/nav[2]/div/ul/li[5]/a")
search_jobspage.click()

In [54]:
# searching for data scientist jobs
search = driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input")
search.send_keys('Data Scientist')

In [55]:
# clicking on the search button
search1 = driver.find_element(By.CLASS_NAME,"ctas-btn-medium")
search1.click()

In [56]:
# clicking on first filter of location
filter1 = driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[1]/p")
filter1.click()

In [57]:
# searching location Noida in the filter
search_location = driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input")
search_location.send_keys("Noida")

In [58]:
# clicking Noida filter
filter2 = driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label")
filter2.click()

In [60]:
#creating an empty list to scrap all company names 
company_name=[]
#scrapting all the tags company names
job=driver.find_elements(By.CLASS_NAME,'company')

#displaying 10 tags extracted above into text 
for i in job:
    company_name.append(i.text)
company_name[0:10]

['CBRE South Asia Pvt Ltd',
 'CBRE South Asia Pvt Ltd',
 'GENPACT India Private Limited',
 'Genpact',
 'Ericsson India Global Services Pvt. Ltd.',
 'GENPACT India Private Limited',
 'Optum Global Solutions (India) Private Limited',
 'Optum Global Solutions (India) Private Limited',
 'Ericsson India Global Services Pvt. Ltd.',
 'SOPRA STERIA INDIA LIMITED']

In [61]:
#creating an empty list to scrap all ratings of company 
rating=[]
#scrapting all the tags for experience_required
rating_tag=driver.find_elements(By.CLASS_NAME,'body-small')

#displaying 10 tags extracted above into text 
for i in rating_tag:
    rating.append(i.text)
rating[0:10]

['4.3', '4.0', '4.0', '4.3', '4.0', '4.1', '4.1', '4.3', '4.2', '3.9']

In [62]:
#creating an empty list to scrap 10 details of reviews
days_ago=[]
#scrapting all the tags having reviews
day=driver.find_elements(By.XPATH,'//span[@class="body-small-l"]')

#displaying 10 tags extracted into text
for i in day:
    days_ago.append(i.text.replace('via naukri.com',''))
days_ago[0:10]

['7d ago',
 '',
 '4hr ago',
 '',
 '2d ago',
 'via iimjobs.com',
 '17d ago',
 '',
 '10d ago',
 '']

In [63]:
print(len(company_name[0:10]),len(rating[0:10]),len(days_ago[0:10]))

10 10 10

In [64]:
import pandas as pd
df = pd.DataFrame({'Company_name':company_name[0:10],'Rating':rating[0:10],'Days ago':days_ago[0:10]})
df

                                     Company_name Rating         Days ago
0                         CBRE South Asia Pvt Ltd    4.3           7d ago
1                         CBRE South Asia Pvt Ltd    4.0
2                   GENPACT India Private Limited    4.0          4hr ago
3                                         Genpact    4.3
4        Ericsson India Global Services Pvt. Ltd.    4.0           2d ago
5                   GENPACT India Private Limited    4.1  via iimjobs.com
6  Optum Global Solutions (India) Private Limited    4.1          17d ago
7  Optum Global Solutions (India) Private Limited    4.3
8        Ericsson India Global Services Pvt. Ltd.    4.2          10d ago
9                      SOPRA STERIA INDIA LIMITED    3.9

In [65]:
driver.close()

In [66]:
from selenium.common.exceptions import NoSuchElementException

# Q10: Write a python program to scrape the salary data for Data Scientist designation. You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary. 
The above task will be, done as shown in the below steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the salaries option as shown in the image.
3. After reaching to the following webpage, In place of “Search Job Profile” enters “Data Scientist” and 
then click on “Data Scientist”.
You have to scrape the data ticked in the above image.
4. Scrape the data for the first 10 companies. Scrape the company name, total salary record, average 
salary, minimum salary, maximum salary, experience required.
5. Store the data in a dataframe.

In [78]:
# let's first connect to the web driver
driver = webdriver.Chrome(r"C:\Users\Sunny\Downloads\chromedriver_win32\chromedriver.exe")

In [79]:
driver.get('https://www.ambitionbox.com/')

In [80]:
# Clicking on the salary option
search_salarypage = driver.find_element(By.XPATH,"/html/body/div[1]/nav[2]/div/ul/li[3]/i")
search_salarypage.click()

In [81]:
# browsing 1st option in salary field:
search1 = driver.find_element(By.XPATH,"/html/body/div[1]/nav[2]/div/ul/li[3]/div/ul/li[1]/div/div[2]/a")
search1.click()

In [82]:
# searching for data scientist jobs
searchjob = driver.find_element(By.XPATH,"/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input")
searchjob.send_keys('Data Scientist')

In [83]:
# clicking on the search button
searchbtn = driver.find_element(By.XPATH,"/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/div/div/div[1]/div/div/p")
searchbtn.click()

In [84]:
#creating an empty list to scrap all company names 
company_name=[]
#scrapting all the tags company names
job=driver.find_elements(By.CLASS_NAME,"company-info")

#displaying 10 tags extracted above into text 
for i in job:
    company_name.append(i.text)
company_name[0:10]

['Walmart\nData Scientist Salary\n3-4 yrs experience (based on 22 salaries)',
 'Ab Inbev\nData Scientist Salary\n2-4 yrs experience (based on 53 salaries)',
 'Optum\nData Scientist Salary\n2-4 yrs experience (based on 48 salaries)',
 'ZS\nData Scientist Salary\n1-2 yrs experience (based on 33 salaries)',
 'Fractal Analytics\nData Scientist Salary\n2-4 yrs experience (based on 109 salaries)',
 'Tiger Analytics\nData Scientist Salary\n2-4 yrs experience (based on 65 salaries)',
 'Legato Health Technologies\nData Scientist Salary\n4 yrs experience (based on 11 salaries)',
 'Tredence\nData Scientist Salary\n3 yrs experience (based on 12 salaries)',
 'UnitedHealth\nData Scientist Salary\n2-4 yrs experience (based on 91 salaries)',
 'Ford Motor\nData Scientist Salary\n3-4 yrs experience (based on 21 salaries)']

In [85]:
#creating an empty list to scrap all total salaries
total_salary=[]
#scrapting all the tags company names
total_sal=driver.find_elements(By.CLASS_NAME,"datapoints")

#displaying 10 tags extracted above into text 
for i in total_sal:
    total_salary.append(i.text)
total_salary[0:10]

['(based on 22 salaries)',
 '(based on 53 salaries)',
 '(based on 48 salaries)',
 '(based on 33 salaries)',
 '(based on 109 salaries)',
 '(based on 65 salaries)',
 '(based on 11 salaries)',
 '(based on 12 salaries)',
 '(based on 91 salaries)',
 '(based on 21 salaries)']

In [86]:
#creating an empty list to scrap all average salaries
average_salary=[]
#scrapting all the tags company names
average_sal=driver.find_elements(By.CLASS_NAME,"averageCtc")

#displaying 10 tags extracted above into text 
for i in average_sal:
    average_salary.append(i.text)
average_salary[0:10]

['₹ 31.7L',
 '₹ 19.7L',
 '₹ 16.5L',
 '₹ 15.7L',
 '₹ 15.2L',
 '₹ 14.7L',
 '₹ 14.5L',
 '₹ 14.1L',
 '₹ 13.6L',
 '₹ 13.5L']

In [87]:
#creating an empty list to scrap all minimum salasries
min_salary=[]
#scrapting all the tags company names
min_sal=driver.find_elements(By.CLASS_NAME,"value")

#displaying 10 tags extracted above into text 
for i in min_sal:
    min_salary.append(i.text)
min_salary[0:10]

['₹ 25.0L',
 '₹ 45.0L',
 '₹ 15.0L',
 '₹ 25.5L',
 '₹ 11.0L',
 '₹ 22.6L',
 '₹ 11.0L',
 '₹ 22.0L',
 '₹ 9.0L',
 '₹ 23.0L']

In [88]:
#creating an empty list to scrap all maximum salaries
max_salary=[]
#scrapting all the tags company names
max_sal=driver.find_elements(By.XPATH,"//div[@class='salary-values']/div[2]")

#displaying 10 tags extracted above into text 
for i in max_sal:
    max_salary.append(i.text)
max_salary[0:10]

['₹ 45.0L',
 '₹ 25.5L',
 '₹ 22.6L',
 '₹ 22.0L',
 '₹ 23.0L',
 '₹ 20.0L',
 '₹ 20.0L',
 '₹ 17.5L',
 '₹ 20.5L',
 '₹ 18.0L']

In [89]:
#creating an empty list to scrap all exp req
exp_req=[]
#scrapting all the tags company names
exp=driver.find_elements(By.CLASS_NAME,"sbold-list-header")

#displaying 10 tags extracted above into text 
for i in exp:
    exp_req.append(i.text)
exp_req[0:10]

['3-4 yrs experience (based on 22 salaries)',
 '2-4 yrs experience (based on 53 salaries)',
 '2-4 yrs experience (based on 48 salaries)',
 '1-2 yrs experience (based on 33 salaries)',
 '2-4 yrs experience (based on 109 salaries)',
 '2-4 yrs experience (based on 65 salaries)',
 '4 yrs experience (based on 11 salaries)',
 '3 yrs experience (based on 12 salaries)',
 '2-4 yrs experience (based on 91 salaries)',
 '3-4 yrs experience (based on 21 salaries)']

In [90]:
print(len(company_name[0:10]),len(total_salary[0:10]),len(average_salary[0:10]),len(min_salary[0:10]),len(max_salary[0:10]),len(exp_req[0:10]))

10 10 10 10 10 10

In [91]:
import pandas as pd
df = pd.DataFrame({'Comapny_name':company_name[0:10],'Total salary':total_salary[0:10],'Average salary':average_salary[0:10],'Minimum Salary':min_salary[0:10],'Maximum Salary':max_salary[0:10],'Experience Required':exp_req[0:10]})
df

,Comapny_name,Total salary,Average salary,Minimum Salary,Maximum Salary,Experience Required
0,Walmart\nData Scientist Salary\n3-4 yrs experi...,(based on 22 salaries),₹ 31.7L,₹ 25.0L,₹ 45.0L,3-4 yrs experience (based on 22 salaries)
1,Ab Inbev\nData Scientist Salary\n2-4 yrs exper...,(based on 53 salaries),₹ 19.7L,₹ 45.0L,₹ 25.5L,2-4 yrs experience (based on 53 salaries)
2,Optum\nData Scientist Salary\n2-4 yrs experien...,(based on 48 salaries),₹ 16.5L,₹ 15.0L,₹ 22.6L,2-4 yrs experience (based on 48 salaries)
3,ZS\nData Scientist Salary\n1-2 yrs experience ...,(based on 33 salaries),₹ 15.7L,₹ 25.5L,₹ 22.0L,1-2 yrs experience (based on 33 salaries)
4,Fractal Analytics\nData Scientist Salary\n2-4 ...,(based on 109 salaries),₹ 15.2L,₹ 11.0L,₹ 23.0L,2-4 yrs experience (based on 109 salaries)
5,Tiger Analytics\nData Scientist Salary\n2-4 yr...,(based on 65 salaries),₹ 14.7L,₹ 22.6L,₹ 20.0L,2-4 yrs experience (based on 65 salaries)
6,Legato Health Technologies\nData Scientist Sal...,(based on 11 salaries),₹ 14.5L,₹ 11.0L,₹ 20.0L,4 yrs experience (based on 11 salaries)
7,Tredence\nData Scientist Salary\n3 yrs experie...,(based on 12 salaries),₹ 14.1L,₹ 22.0L,₹ 17.5L,3 yrs experience (based on 12 salaries)
8,UnitedHealth\nData Scientist Salary\n2-4 yrs e...,(based on 91 salaries),₹ 13.6L,₹ 9.0L,₹ 20.5L,2-4 yrs experience (based on 91 salaries)
9,Ford Motor\nData Scientist Salary\n3-4 yrs exp...,(based on 21 salaries),₹ 13.5L,₹ 23.0L,₹ 18.0L,3-4 yrs experience (based on 21 salaries)

In [92]:
driver.close()

In [93]:
from selenium.common.exceptions import NoSuchElementException